{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["7332ed76fe383476d531f5eef4407f1f"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "etag":["\"09106c3d6d39a17c10a92f9ec7f13e1a\""]},"body":{"encoding":"ASCII-8BIT","string":"[\n  {\n    \"name\": \"My Sample Project\",\n    \"kind\": \"project\",\n    \"account_id\": 82199,\n    \"created_at\": \"2013-12-04T17:29:39Z\",\n    \"number_of_done_iterations_to_show\": 12,\n    \"point_scale\": \"0,1,2,3\",\n    \"enable_incoming_emails\": true,\n    \"id\": 970140,\n    \"enable_following\": true,\n    \"enable_tasks\": true,\n    \"current_iteration_number\": 6,\n    \"atom_enabled\": false,\n    \"time_zone\": {\n      \"offset\": \"-08:00\",\n      \"kind\": \"time_zone\",\n      \"olson_name\": \"America/Los_Angeles\"\n    },\n    \"public\": false,\n    \"initial_velocity\": 10,\n    \"profile_content\": \"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\n    \"bugs_and_chores_are_estimatable\": false,\n    \"version\": 1,\n    \"point_scale_is_custom\": false,\n    \"has_google_domain\": false,\n    \"iteration_length\": 1,\n    \"updated_at\": \"2013-12-04T17:29:39Z\",\n    \"start_time\": \"2013-11-18T08:00:00Z\",\n    \"velocity_averaged_over\": 3,\n    \"enable_planned_mode\": false,\n    \"week_start_day\": \"Monday\"\n  }\n]"},"http_version":null},"recorded_at":"Sat, 28 Dec 2013 16:34:42 GMT"}],"recorded_with":"VCR 2.8.0"}