{"http_interactions": [
  {
    "request": {
      "method": "get",
      "uri": "https://www.pivotaltracker.com/services/v5/projects/970140/iterations?scope=current",
      "body": {
        "encoding": "US-ASCII",
        "string": ""
      },
      "headers": {
        "X-TrackerToken": ["7332ed76fe383476d531f5eef4407f1f"]
      }
    },
    "response": {
      "status": {
        "code": 200,
        "message": null
      },
      "headers": {
        "content-type": ["application/json; charset=utf-8"],
        "status": ["200"],
        "etag": ["\"ecad182eb61759646876cc6785369310\""],
        "x-tracker-project-version": ["1"]
      },
      "body": {
        "encoding": "ASCII-8BIT",
        "string": "[\n  {\n    \"finish\": \"2014-01-20T08:00:00Z\",\n    \"number\": 9,\n    \"project_id\": 970140,\n    \"stories\": [\n      {\n        \"id\": 61913198,\n        \"labels\": [\n          {\n            \"id\": 7184154,\n            \"project_id\": 970140,\n            \"created_at\": \"2013-12-04T17:29:39Z\",\n            \"name\": \"cart\",\n            \"kind\": \"label\",\n            \"updated_at\": \"2013-12-04T17:29:39Z\"\n          },\n          {\n            \"id\": 7184150,\n            \"project_id\": 970140,\n            \"created_at\": \"2013-12-04T17:29:39Z\",\n            \"name\": \"shopping\",\n            \"kind\": \"label\",\n            \"updated_at\": \"2013-12-04T17:29:39Z\"\n          }\n        ],\n        \"requested_by_id\": 79044,\n        \"story_type\": \"feature\",\n        \"url\": \"http://www.pivotaltracker.com/story/show/61913198\",\n        \"project_id\": 970140,\n        \"estimate\": 2,\n        \"created_at\": \"2013-11-25T00:00:00Z\",\n        \"name\": \"Shopper should be able to view contents of shopping cart\",\n        \"description\": \"Cart icon in top right corner, with a number indicating how many items in cart\",\n        \"current_state\": \"delivered\",\n        \"kind\": \"story\",\n        \"updated_at\": \"2013-12-04T17:29:39Z\"\n      },\n      {\n        \"id\": 61913200,\n        \"labels\": [\n          {\n            \"id\": 7184154,\n            \"project_id\": 970140,\n            \"created_at\": \"2013-12-04T17:29:39Z\",\n            \"name\": \"cart\",\n            \"kind\": \"label\",\n            \"updated_at\": \"2013-12-04T17:29:39Z\"\n          },\n          {\n            \"id\": 7184150,\n            \"project[...]
