{"http_interactions": [
  {
    "request": {
      "method": "get",
      "uri": "https://www.pivotaltracker.com/services/v5/projects/970140",
      "body": {
        "encoding": "US-ASCII",
        "string": ""
      },
      "headers": {
        "X-TrackerToken": ["7332ed76fe383476d531f5eef4407f1f"]
      }
    },
    "response": {
      "status": {
        "code": 200,
        "message": null
      },
      "headers": {
        "content-type": ["application/json; charset=utf-8"],
        "status": ["200"],
        "etag": ["\"5fedd67d23eb74f74e25284ff65003d3\""],
        "x-tracker-project-version": ["1"]
      },
      "body": {
        "encoding": "ASCII-8BIT",
        "string": "{\n  \"public\": false,\n  \"enable_following\": true,\n  \"account_id\": 82199,\n  \"start_time\": \"2013-11-18T08:00:00Z\",\n  \"profile_content\": \"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\n  \"bugs_and_chores_are_estimatable\": false,\n  \"point_scale_is_custom\": false,\n  \"point_scale\": \"0,1,2,3\",\n  \"week_start_day\": \"Monday\",\n  \"id\": 970140,\n  \"velocity_averaged_over\": 3,\n  \"iteration_length\": 1,\n  \"version\": 1,\n  \"created_at\": \"2013-12-04T17:29:39Z\",\n  \"atom_enabled\": false,\n  \"enable_incoming_emails\": true,\n  \"kind\": \"project\",\n  \"updated_at\": \"2013-12-04T17:29:39Z\",\n  \"initial_velocity\": 10,\n  \"number_of_done_iterations_to_show\": 12,\n  \"enable_tasks\": true,\n  \"current_iteration_number\": 6,\n  \"enable_planned_mode\": false,\n  \"name\": \"My Sample Project\",\n  \"has_google_domain\": false,\n  \"time_zone\": {\n    \"offset\": \"-08:00\",\n    \"kind\": \"time_zone\",\n    \"olson_name\": \"America/Los_Angeles\"\n  }\n}"
      },
    },
    "recorded_at": "Sat, 28 Dec 2013 16:34:43 GMT"
  }
], "recorded_with": "VCR 2.8.0"}
