{"http_interactions": [
  {
    "request": {
      "method": "get",
      "uri": "https://www.pivotaltracker.com/services/v5/projects/970140/epics",
      "body": {
        "encoding": "US-ASCII",
        "string": ""
      },
      "headers": {
        "X-TrackerToken": ["7332ed76fe383476d531f5eef4407f1f"]
      }
    },
    "response": {
      "status": {
        "code": 200,
        "message": null
      },
      "headers": {
        "content-type": ["application/json; charset=utf-8"],
        "status": ["200"],
        "x-tracker-project-version": ["1"],
        "etag": ["\"fc507440f86707b0bcd9452eb3dce6de\""]
      },
      "body": {
        "encoding": "ASCII-8BIT",
        "string": "[\n  {\n    \"label\": {\n      \"created_at\": \"2013-12-04T17:29:39Z\",\n      \"name\": \"admin\",\n      \"kind\": \"label\",\n      \"updated_at\": \"2013-12-04T17:29:39Z\",\n      \"project_id\": 970140,\n      \"id\": 7184148\n    },\n    \"description\": \"Get the Admin users working on the site\",\n    \"created_at\": \"2013-12-04T17:29:41Z\",\n    \"name\": \"Admin Users\",\n    \"kind\": \"epic\",\n    \"project_id\": 970140,\n    \"updated_at\": \"2013-12-04T17:29:41Z\",\n    \"id\": 957594,\n    \"url\": \"http://www.pivotaltracker.com/epic/show/957594\"\n  },\n  {\n    \"label\": {\n      \"created_at\": \"2013-12-04T17:29:39Z\",\n      \"name\": \"shopping\",\n      \"kind\": \"label\",\n      \"updated_at\": \"2013-12-04T17:29:39Z\",\n      \"project_id\": 970140,\n      \"id\": 7184150\n    },\n    \"description\": \"Allow shoppers to use the site\",\n    \"created_at\": \"2013-12-04T17:29:41Z\",\n    \"name\": \"Shoppers\",\n    \"kind\": \"epic\",\n    \"project_id\": 970140,\n    \"updated_at\": \"2013-12-04T17:29:41Z\",\n    \"id\": 957596,\n    \"url\": \"http://www.pivotaltracker.com/epic/show/957596\"\n  }\n]"
      },
    },
    "recorded_at": "Sat, 28 Dec 2013 16:34:43 GMT"
  }
], "recorded_with": "VCR 2.8.0"}
