{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"928382b6b491b74decd2f365a3b52efb\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["230"], "X-Vcap-Request-Id":["c4d5b8e6-c617-481d-6be2-94fc7badce40"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1027488,\"kind\":\"project\",\"name\":\"My Sample Project\",\"version\":230,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-07:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"profile_content\":\"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":false,\"atom_enabled\":false,\"project_type\":\"demo\",\"start_time\":\"2014-02-10T08:00:00Z\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"account_id\":621384,\"current_iteration_number\":169,\"enable_following\":true}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:37 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=5&offset=-12&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"4f9ba2f687bad8ea3b1755f502079426\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["5"], "X-Tracker-Pagination-Offset":["-12"], "X-Tracker-Pagination-Returned":["5"], "X-Tracker-Pagination-Total":["168"], "X-Tracker-Project-Version":["230"], "X-Vcap-Request-Id":["c2545e3b-f28f-4d10-4a77-52d00172a485"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"number\":157,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-02-06T08:00:00Z\",\"finish\":\"2017-02-13T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":158,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-02-13T08:00:00Z\",\"finish\":\"2017-02-20T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":159,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-02-20T08:00:00Z\",\"finish\":\"2017-02-27T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":160,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-02-27T08:00:00Z\",\"finish\":\"2017-03-06T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":161,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-03-06T08:00:00Z\",\"finish\":\"2017-03-13T07:00:00Z\",\"kind\":\"iteration\"}]"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:37 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=5&offset=-2&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"55a7ce9b99a9ba49620d7391e4a1848b\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["5"], "X-Tracker-Pagination-Offset":["-2"], "X-Tracker-Pagination-Returned":["2"], "X-Tracker-Pagination-Total":["168"], "X-Tracker-Project-Version":["230"], "X-Vcap-Request-Id":["f452ea0c-fb98-4b82-4886-faf661662b82"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"number\":167,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-04-17T07:00:00Z\",\"finish\":\"2017-04-24T07:00:00Z\",\"kind\":\"iteration\"},{\"number\":168,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-04-24T07:00:00Z\",\"finish\":\"2017-05-01T07:00:00Z\",\"kind\":\"iteration\"}]"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:37 GMT"}],"recorded_with":"VCR 2.9.3"}