{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "ETag":["\"d68ec2d38a9a18645ab9524b715d7cbc\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"{\"id\":1027488,\"kind\":\"project\",\"name\":\"My Sample Project\",\"version\":65,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-07:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"profile_content\":\"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":false,\"atom_enabled\":false,\"project_type\":\"demo\",\"start_time\":\"2014-02-10T08:00:00Z\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"account_id\":621384,\"current_iteration_number\":72,\"enable_following\":true}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:05:48 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?limit=300","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["90"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Limit":["300"], "X-Tracker-Pagination-Returned":["90"], "ETag":["\"44aa346f29e00b2e19d43a98c7141ace\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story\",\"id\":66727974,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"accepted_at\":\"2014-02-11T00:00:00Z\",\"story_type\":\"chore\",\"name\":\"Setup development environment\",\"description\":\"We need 2 machines set up\",\"current_state\":\"accepted\",\"requested_by_id\":1266314,\"project_id\":1027488,\"url\":\"https://www.pivotaltracker.com/story/show/66727974\",\"owner_ids\":[],\"labels\":[]},{\"kind\":\"story\",\"id\":66727976,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"accepted_at\":\"2014-02-11T00:00:00Z\",\"story_type\":\"chore\",\"name\":\"Setup demo server\",\"description\":\"Should be accessible from outside the network, with basic auth\",\"current_state\":\"accepted\",\"requested_by_id\":1266314,\"project_id\":1027488,\"url\":\"https://www.pivotaltracker.com/story/show/66727976\",\"owner_ids\":[],\"labels\":[{\"id\":7849078,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"deployment\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}]},{\"kind\":\"story\",\"id\":66727978,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"accepted_at\":\"2014-02-11T00:00:00Z\",\"estimate\":2,\"story_type\":\"feature\",\"name\":\"Admin should be able to login\",\"description\":\"Admin should be a special user type. We can create the first admin user directly in the DB, but let's encrypt the password.\",\"current_state\":\"accepted\",\"requested_by_id\":1266314,\"project_id\":1027488,\"url\":\"https://www.pivotaltracker.com/story/show/66727978\",\"owner_ids\":[],\"labels\":[{\"id\":7849080,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"admin\",\"created_at\":\"2014-03-02T07:11[...]
[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?limit=7&offset=7","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["90"], "X-Tracker-Pagination-Offset":["7"], "X-Tracker-Pagination-Limit[...]
[...]
