{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "ETag":["\"d68ec2d38a9a18645ab9524b715d7cbc\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"{\"id\":1027488,\"kind\":\"project\",\"name\":\"My Sample Project\",\"version\":65,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-07:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"profile_content\":\"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":false,\"atom_enabled\":false,\"project_type\":\"demo\",\"start_time\":\"2014-02-10T08:00:00Z\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"account_id\":621384,\"current_iteration_number\":72,\"enable_following\":true}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:05:53 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=5&offset=-12&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["71"], "X-Tracker-Pagination-Offset":["-12"], "X-Tracker-Pagination-Limit":["5"], "X-Tracker-Pagination-Returned":["5"], "ETag":["\"a405058648c69e8dca1eee9d910db156\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"iteration\",\"number\":60,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-03-30T07:00:00Z\",\"finish\":\"2015-04-06T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":61,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-04-06T07:00:00Z\",\"finish\":\"2015-04-13T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":62,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-04-13T07:00:00Z\",\"finish\":\"2015-04-20T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":63,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-04-20T07:00:00Z\",\"finish\":\"2015-04-27T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":64,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-04-27T07:00:00Z\",\"finish\":\"2015-05-04T07:00:00Z\"}]"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:05:54 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=5&offset=-2&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["71"], "X-Tracker-Pagination-Offset":["-2"], "X-Tracker-Pagination-Limit":["5"], "X-Tracker-Pagination-Returned":["2"], "ETag":["\"191d708afd98790f96ff56664d04b59e\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"iteration\",\"number\":70,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-06-08T07:00:00Z\",\"finish\":\"2015-06-15T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":71,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-06-15T07:00:00Z\",\"finish\":\"2015-06-22T07:00:00Z\"}]"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:05:54 GMT"}],"recorded_with":"VCR 2.9.3"}