{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["3"]},"body":{"encoding":"UTF-8","string":"{\n  \"id\": 1027488,\n  \"kind\": \"project\",\n  \"name\": \"My Sample Project\",\n  \"version\": 3,\n  \"iteration_length\": 1,\n  \"week_start_day\": \"Monday\",\n  \"point_scale\": \"0,1,2,3\",\n  \"point_scale_is_custom\": false,\n  \"bugs_and_chores_are_estimatable\": false,\n  \"enable_planned_mode\": false,\n  \"enable_tasks\": true,\n  \"time_zone\": {\n    \"kind\": \"time_zone\",\n    \"olson_name\": \"America/Los_Angeles\",\n    \"offset\": \"-07:00\"\n  },\n  \"velocity_averaged_over\": 3,\n  \"number_of_done_iterations_to_show\": 12,\n  \"has_google_domain\": false,\n  \"profile_content\": \"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\n  \"enable_incoming_emails\": true,\n  \"initial_velocity\": 10,\n  \"public\": false,\n  \"atom_enabled\": false,\n  \"start_time\": \"2014-02-10T08:00:00Z\",\n  \"created_at\": \"2014-03-02T07:11:04Z\",\n  \"updated_at\": \"2014-03-02T07:11:04Z\",\n  \"account_id\": 621384,\n  \"current_iteration_number\": 13,\n  \"enable_following\": true\n}"},"http_version":null},"recorded_at":"Wed, 07 May 2014 04:50:08 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?limit=300","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["3"], "x-tracker-pagination-total":["59"], "x-tracker-pagination-offset":["0"], "x-tracker-pagination-limit":["300"], "x-tracker-pagination-returned":["59"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"kind\": \"story\",\n    \"id\": 66727974,\n    \"created_at\": \"2014-02-10T00:00:00Z\",\n    \"updated_at\": \"2014-03-02T07:11:04Z\",\n    \"accepted_at\": \"2014-02-11T00:00:00Z\",\n    \"story_type\": \"chore\",\n    \"name\": \"Setup development environment\",\n    \"description\": \"We need 2 machines set up\",\n    \"current_state\": \"accepted\",\n    \"requested_by_id\": 1266314,\n    \"project_id\": 1027488,\n    \"url\": \"https://www.pivotaltracker.com/story/show/66727974\",\n    \"owner_ids\": [\n\n    ],\n    \"labels\": [\n\n    ]\n  },\n  {\n    \"kind\": \"story\",\n    \"id\": 66727976,\n    \"created_at\": \"2014-02-10T00:00:00Z\",\n    \"updated_at\": \"2014-03-02T07:11:04Z\",\n    \"accepted_at\": \"2014-02-11T00:00:00Z\",\n    \"story_type\": \"chore\",\n    \"name\": \"Setup demo server\",\n    \"description\": \"Should be accessible from outside the network, with basic auth\",\n    \"current_state\": \"accepted\",\n    \"requested_by_id\": 1266314,\n    \"project_id\": 1027488,\n    \"url\": \"https://www.pivotaltracker.com/story/show/66727976\",\n    \"owner_ids\": [\n\n    ],\n    \"labels\": [\n      {\n        \"id\": 7849078,\n        \"project_id\": 1027488,\n        \"kind\": \"label\",\n        \"name\": \"deployment\",\n        \"created_at\": \"2014-03-02T07:11:04Z\",\n        \"updated_at\": \"2014-03-02T07:11:04Z\"\n      }\n    ]\n  },\n  {\n    \"kind\": \"story\",\n    \"id\": 66727978,\n    \"created_at\": \"2014-02-10T00:00:00Z\",\n    \"updated_at\": \"2014-03-02T07:11:04Z\",\n    \"accepted_at\": \"2014-02-11T00:00:00Z\",\n    \"estimate\": 2,\n    \"story_type\": \"feature\",\n    \"name\": \"Admin should be able to login\",\n    \"description\": \"Admin should be a special user type. We can create the first admin user directly in the DB, but let's encrypt the password.\",\n    \"current_state\": \"accepted\",\n    \"requested_by_id\": 1266314,\n    \"project_id\": 1027488,\n    \"url\": \"https://www.pivotaltracker.com/story/show/66727978\",\n    \"owner_ids\": [\n\n    ],\n    \"labels\": [\n      {\n        \"id\": 7849080,\n [...]
[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?limit=7&offset=7","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["3"], "x-tracker-pagination-total":["59"], "x-tracker-pagination-offset":["7"], "x-tracker-pagination-limit"[...]
[...]
