{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-project-version":["1"], "etag":["\"24d9e32f361b5a8e2b83e7f7f0a1558b\""]},"body":{"encoding":"UTF-8","string":"{\n  \"enable_following\": true,\n  \"account_id\": 621384,\n  \"version\": 1,\n  \"atom_enabled\": false,\n  \"enable_planned_mode\": false,\n  \"bugs_and_chores_are_estimatable\": false,\n  \"has_google_domain\": false,\n  \"id\": 1027488,\n  \"number_of_done_iterations_to_show\": 12,\n  \"velocity_averaged_over\": 3,\n  \"kind\": \"project\",\n  \"created_at\": \"2014-03-02T07:11:04Z\",\n  \"start_time\": \"2014-02-10T08:00:00Z\",\n  \"public\": false,\n  \"updated_at\": \"2014-03-02T07:11:04Z\",\n  \"profile_content\": \"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\n  \"enable_tasks\": true,\n  \"enable_incoming_emails\": true,\n  \"point_scale_is_custom\": false,\n  \"initial_velocity\": 10,\n  \"time_zone\": {\n    \"olson_name\": \"America/Los_Angeles\",\n    \"kind\": \"time_zone\",\n    \"offset\": \"-07:00\"\n  },\n  \"week_start_day\": \"Monday\",\n  \"iteration_length\": 1,\n  \"name\": \"My Sample Project\",\n  \"current_iteration_number\": 7,\n  \"point_scale\": \"0,1,2,3\"\n}"},"http_version":null},"recorded_at":"Wed, 26 Mar 2014 05:49:42 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=done&offset=-12&limit=5","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-pagination-returned":["5"], "x-tracker-project-version":["1"], "x-tracker-pagination-limit":["5"], "x-tracker-pagination-total":["6"], "etag":["\"b96f6d7d4a3d6c0160bca9addeda3beb\""], "x-tracker-pagination-offset":["-12"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"finish\": \"2014-02-17T08:00:00Z\",\n    \"stories\": [\n      {\n        \"current_state\": \"accepted\",\n        \"id\": 66727974,\n        \"description\": \"We need 2 machines set up\",\n        \"labels\": [\n\n        ],\n        \"project_id\": 1027488,\n        \"story_type\": \"chore\",\n        \"kind\": \"story\",\n        \"accepted_at\": \"2014-02-11T00:00:00Z\",\n        \"created_at\": \"2014-02-10T00:00:00Z\",\n        \"updated_at\": \"2014-03-02T07:11:04Z\",\n        \"owner_ids\": [\n\n        ],\n        \"url\": \"http://www.pivotaltracker.com/story/show/66727974\",\n        \"name\": \"Setup development environment\",\n        \"requested_by_id\": 1266314\n      },\n      {\n        \"current_state\": \"accepted\",\n        \"id\": 66727976,\n        \"description\": \"Should be accessible from outside the network, with basic auth\",\n        \"labels\": [\n          {\n            \"id\": 7849078,\n            \"project_id\": 1027488,\n            \"kind\": \"label\",\n            \"created_at\": \"2014-03-02T07:11:04Z\",\n            \"updated_at\": \"2014-03-02T07:11:04Z\",\n            \"name\": \"deployment\"\n          }\n        ][...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=done&offset=-1&limit=5","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-pagination-returned":["1"], "x-tracker-project-version":["1"], "x-tracker-pagination-limit":["5"], "x-tracker-pagination-total":["6"], "etag":["\"8e04bde82acfaada287cd50c67a577c8\""], "x-tracker-pagination-offset":["-1"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"finish\": \"2014-03-24T07:00:00Z\",\n    \"stories\": [\n\n    ],\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"kind\": \"iteration\",\n    \"number\": 6,\n    \"start\": \"2014-03-17T07:00:00Z\"\n  }\n]"},"http_version":null},"recorded_at":"Wed, 26 Mar 2014 05:49:43 GMT"}],"recorded_with":"VCR 2.8.0"}