{"http_interactions": [
  {
    "request": {
      "method": "get",
      "uri": "https://www.pivotaltracker.com/services/v5/projects/1027488",
      "body": {
        "encoding": "US-ASCII",
        "string": ""
      },
      "headers": {
        "X-TrackerToken": ["0de3ac29f13082f0c16ed76f3f3f6895"]
      }
    },
    "response": {
      "status": {
        "code": 200,
        "message": null
      },
      "headers": {
        "content-type": ["application/json; charset=utf-8"],
        "status": ["200"],
        "x-tracker-project-version": ["1"],
        "etag": ["\"75439fc13ba781d318c0ac170a0ac828\""]
      },
      "body": {
        "encoding": "UTF-8",
        "string": "{\n  \"enable_incoming_emails\": true,\n  \"kind\": \"project\",\n  \"bugs_and_chores_are_estimatable\": false,\n  \"point_scale\": \"0,1,2,3\",\n  \"iteration_length\": 1,\n  \"initial_velocity\": 10,\n  \"has_google_domain\": false,\n  \"velocity_averaged_over\": 3,\n  \"enable_tasks\": true,\n  \"week_start_day\": \"Monday\",\n  \"id\": 1027488,\n  \"account_id\": 621384,\n  \"time_zone\": {\n    \"kind\": \"time_zone\",\n    \"olson_name\": \"America/Los_Angeles\",\n    \"offset\": \"-07:00\"\n  },\n  \"version\": 1,\n  \"current_iteration_number\": 7,\n  \"enable_following\": true,\n  \"atom_enabled\": false,\n  \"profile_content\": \"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\n  \"number_of_done_iterations_to_show\": 12,\n  \"enable_planned_mode\": false,\n  \"updated_at\": \"2014-03-02T07:11:04Z\",\n  \"created_at\": \"2014-03-02T07:11:04Z\",\n  \"public\": false,\n  \"point_scale_is_custom\": false,\n  \"start_time\": \"2014-02-10T08:00:00Z\",\n  \"name\": \"My Sample Project\"\n}"
      },
    },
    "recorded_at": "Tue, 25 Mar 2014 06:05:06 GMT"
  },
  {
    "request": {
      "method": "get",
      "uri": "https://www.pivotaltracker.com/services/v5/projects/1027488/stories?limit=300",
      "body": {
        "encoding": "US-ASCII",
        "string": ""
      },
      "headers": {
        "X-TrackerToken": ["0de3ac29f13082f0c16ed76f3f3f6895"]
      }
    },
    "response": {
      "status": {
        "code": 200,
        "message": null
      },
      "headers": {
        "content-type": ["application/json; charset=utf-8"],
        "status": ["200"],
        "etag": ["\"3679d9ab1631ba32a28e658d733e3ab4\""],
        "x-tracker-pagination-returned": ["59"],
        "x-tracker-pagination-limit": ["300"],
        "x-tracker-pagination-offset": ["0"],
        "x-tracker-pagination-total": ["59"],
        "x-tracker-project-version": ["1"]
      },
      "body": {
        "encoding": "UTF-8",
        "string": "[\n  {\n    \"current_state\": \"accepted\",\n    \"description\": \"We need 2 machines set up\",\n    \"id\": 66727974,\n    \"labels\": [\n\n    ],\n    \"project_id\": 1027488,\n    \"story_type\": \"chore\",\n    \"kind\": \"story\",\n    \"accepted_at\": \"2014-02-11T00:00:00Z\",\n    \"created_at\": \"2014-02-10T00:00:00Z\",\n    \"updated_at\": \"2014-03-02T07:11:04Z\",\n    \"owner_ids\": [\n\n    ],\n    \"url\": \"https://www.pivotaltracker.com/story/show/66727974\",\n    \"name\": \"Setup development environment\",\n    \"requested_by_id\": 1266314\n  },\n  {\n    \"current_state\": \"accepted\",\n    \"description\": \"Should be accessible from outside the network, with basic auth\",\n    \"id\": 66727976,\n    \"labels\": [\n      {\n        \"id\": 7849078,\n        \"kind\": \"label\",\n        \"project_id\": 1027488,\n        \"created_at\": \"2014-03-02T07:11:04Z\",\n        \"updated_at\": \"2014-03-02T07:11:04Z\",\n        \"name\": \"deployment\"\n      }\n    ],\n    \"project_id\": 1027488,\n    \"story_type\": \"chore\",\n    \"kind\": \"story\",\n    \"accepted_at\": \"2014-02-11T00:00:00Z\",\n    \"created_at\": \"2014-02-10T00:00:00Z\",\n    \"updated_at\": \"2014-03-02T07:11:04Z\",\n    \"owner_ids\": [\n\n    ],\n    \"url\": \"https://www.pivotaltracker.com/story/show/66727976\",\n    \"name\": \"Setup demo server\",\n    \"requested_by_id\": 1266314\n  },\n  {\n    \"current_state\": \"accepted\",\n    \"description\": \"Admin should be a special user type. We can create the first admin user directly in the DB, but let's encrypt the password.\",\n    \"id\": 66727978,\n    \"labels\": [\n      {\n        \"id\": 7849080,\n        \"kind\": \"label\",\n        \"project_id\": 1027488,\n        \"created_at\": \"2014-03-02T07:11:04Z\",\n        \"updated_at\": \"2014-03-02T07:11:04Z\",\n        \"name\": \"admin\"\n      }\n    ],\n    \"project_id\": 1027488,\n    \"story_type\": \"feature\",\n    \"estimate\": 2,\n    \"kind\": \"story\",\n    \"accepted_at\": \"2014-02-11T00:00:00Z\",\n    \"created_at\": \"2014-02-10T00:00:00Z\",\n    \"updated_at\": \"2014-03-02T07:11:04Z\",\n    \"owner_ids\": [\n\n    ],\n    \"url\": \"https://www.pivotaltracker.com/story/show/66727978\",\n    \"name\": \"Admin should be able to login\",\n    \"requested_by_id\": 1266314\n  },\n  {\n    \"current_state\": \"accepted\",\n    \"description\": \"Product information includes title, description, price, SKU.\",\n    [...]
[...]
  {
    "request": {
      "method": "get",
      "uri": "https://www.pivotaltracker.com/services/v5/projects/1027488/stories?limit=7&offset=7",
      "body": {
        "encoding": "US-ASCII",
        "string": ""
      },
      "headers": {
        "X-TrackerToken": ["0de3ac29f13082f0c16ed76f3f3f6895"]
      }
    },
    "response": {
      "status": {
        "code": 200,
        "message": null
      },
      "headers": {
        "content-type": ["application/json; charset=utf-8"],
        "s[...]
[...]
