{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?name=Test+story","body":{"encoding":"UTF-8","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["25"], "ETag":["\"189f639e9e259d637b393a900f31e2b3\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"{\n  \"kind\": \"story\",\n  \"id\": 82874846,\n  \"project_id\": 1027488,\n  \"name\": \"Test story\",\n  \"story_type\": \"feature\",\n  \"current_state\": \"unscheduled\",\n  \"requested_by_id\": 1266314,\n  \"owner_ids\": [\n\n  ],\n  \"labels\": [\n\n  ],\n  \"created_at\": \"2014-11-17T19:02:22Z\",\n  \"updated_at\": \"2014-11-17T19:02:22Z\",\n  \"url\": \"https://www.pivotaltracker.com/story/show/82874846\"\n}"},"http_version":null},"recorded_at":"Mon, 17 Nov 2014 19:02:22 GMT"}],"recorded_with":"VCR 2.9.3"}