{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"Test creating a comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["706"], "ETag":["W/\"b06cece5267bf9a846464fe742923012\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":222405242,\"epic_id\":4737194,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T09:21:51Z\",\"updated_at\":\"2021-03-03T09:21:51Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:52 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/uploads","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost-a9ba6d0341d7bd84677cc7635d5d07db\r\nContent-Disposition: form-data; name=\"file\"; filename=\"Gemfile\"\r\nContent-Length: 144\r\nContent-Type: \r\nContent-Transfer-Encoding: binary\r\n\r\nsource 'https://rubygems.org'\n\n# Specify your gem's dependencies in tracker_api.gemspec\ngemspec\n\ngem 'coveralls', group: :test, require: false\n\n\r\n-------------RubyMultipartPost-a9ba6d0341d7bd84677cc7635d5d07db--\r\n"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost-a9ba6d0341d7bd84677cc7635d5d07db"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["706"], "ETag":["W/\"4adb26c47932d7f47060e322b3bfe48f\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"file_attachment\",\"id\":109448641,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:21:52Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448641/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:53 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments/222405242?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_add\":[109448641]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["707"], "ETag":["W/\"4502153e2248b4f7e04ca52f29b3886c\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[{\"kind\":\"file_attachment\",\"id\":109448641,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:21:52Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448641/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}],\"id\":222405242,\"epic_id\":4737194,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T09:21:51Z\",\"updated_at\":\"2021-03-03T09:21:53Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:54 GMT"}],"recorded_with":"VCR 6.0.0"}