{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"Test creating a comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"736fd39ad66bf89ba8d1872c417ea2f8\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["397"], "X-Vcap-Request-Id":["6669bfb4-0d69-4047-5ec0-3510540e007b"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":181648335,\"story_id\":66728004,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2017-10-31T16:15:50Z\",\"updated_at\":\"2017-10-31T16:15:50Z\"}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:51 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/uploads","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost-c6995ef331cf872b4d6a6ac5be52d42e\r\nContent-Disposition: form-data; name=\"file\"; filename=\"Gemfile\"\r\nContent-Length: 144\r\nContent-Type: \r\nContent-Transfer-Encoding: binary\r\n\r\nsource 'https://rubygems.org'\n\n# Specify your gem's dependencies in tracker_api.gemspec\ngemspec\n\ngem 'coveralls', group: :test, require: false\n\n\r\n-------------RubyMultipartPost-c6995ef331cf872b4d6a6ac5be52d42e--\r\n\r\n"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost-c6995ef331cf872b4d6a6ac5be52d42e"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"f5bab382dc93e1d6382d0ffd23f0d219\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["397"], "X-Vcap-Request-Id":["561a6716-0d93-48e3-713f-1c636b7df131"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"file_attachment\",\"id\":85128165,\"filename\":\"Gemfile\",\"created_at\":\"2017-10-31T16:15:51Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/85128165/download\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:52 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/181648335?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_add\":[85128165]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"839a73aec784e94028df3b7e71f6073d\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["398"], "X-Vcap-Request-Id":["6c1557e1-321e-4d19-584f-3746cea39250"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[{\"kind\":\"file_attachment\",\"id\":85128165,\"filename\":\"Gemfile\",\"created_at\":\"2017-10-31T16:15:51Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/85128165/download\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}],\"id\":181648335,\"story_id\":66728004,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2017-10-31T16:15:50Z\",\"updated_at\":\"2017-10-31T16:15:52Z\"}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:52 GMT"}],"recorded_with":"VCR 3.0.3"}