{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/uploads","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost-50f979600b8964f956733f78f7bc9480\r\nContent-Disposition: form-data; name=\"file\"; filename=\"Gemfile\"\r\nContent-Length: 144\r\nContent-Type: \r\nContent-Transfer-Encoding: binary\r\n\r\nsource 'https://rubygems.org'\n\n# Specify your gem's dependencies in tracker_api.gemspec\ngemspec\n\ngem 'coveralls', group: :test, require: false\n\n\r\n-------------RubyMultipartPost-50f979600b8964f956733f78f7bc9480--\r\n"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost-50f979600b8964f956733f78f7bc9480"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["715"], "ETag":["W/\"b8fd14fc42f1b84ae25e24630baf5eb8\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"file_attachment\",\"id\":109448647,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:22:00Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448647/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:22:00 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/120836920?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_add\":[109448647]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["716"], "ETag":["W/\"908d56753763868890976dbc8cde0ae0\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[{\"kind\":\"file_attachment\",\"id\":109448609,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:20:48Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448609/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":true,\"big_url\":\"https://s3.amazonaws.com/prod.tracker2/resource/109448609/Gemfile_big?response-content-disposition=attachment&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJBSFJ4TCVKKGAIA%2F20210303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210303T092201Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=602d6c3ffb55fed137df5a731671e979565c1936da6a8822094ae37b97bda738\",\"thumbnail_url\":\"https://s3.amazonaws.com/prod.tracker2/resource/109448609/Gemfile_thumb?response-content-disposition=attachment&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJBSFJ4TCVKKGAIA%2F20210303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210303T092201Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=cca9f13c4d8e23adbf8ef7d1d82a182b70b88eb5a990101fc3d0a878d33801c8\"},{\"kind\":\"file_attachment\",\"id\":109448647,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:22:00Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448647/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}],\"id\":120836920,\"story_id\":66728004,\"text\":\"This is a comment.+++\",\"person_id\":1266314,\"created_at\":\"2015-12-17T22:13:55Z\",\"updated_at\":\"2021-03-03T09:22:00Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:22:01 GMT"}],"recorded_with":"VCR 6.0.0"}