{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories","body":{"encoding":"UTF-8","string":"{\"name\":\"Test story\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["67"], "ETag":["\"ef22d02e41385ade3d1fe178e9024de0\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"{\"kind\":\"story\",\"id\":97768378,\"project_id\":1027488,\"name\":\"Test story\",\"story_type\":\"feature\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[],\"created_at\":\"2015-06-24T21:06:03Z\",\"updated_at\":\"2015-06-24T21:06:03Z\",\"url\":\"https://www.pivotaltracker.com/story/show/97768378\"}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:06:12 GMT"}],"recorded_with":"VCR 2.9.3"}