{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories","body":{"encoding":"UTF-8","string":"{\"name\":\"Test story\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"6e18b43307677a9d6818da591ed233f3\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["234"], "X-Vcap-Request-Id":["d8f816a8-bf0d-43c1-5a43-42e657cb2249"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":144829981,\"project_id\":1027488,\"name\":\"Test story\",\"story_type\":\"feature\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[],\"created_at\":\"2017-05-03T23:29:42Z\",\"updated_at\":\"2017-05-03T23:29:42Z\",\"url\":\"https://www.pivotaltracker.com/story/show/144829981\"}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:42 GMT"}],"recorded_with":"VCR 2.9.3"}