{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"Test creating a comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["708"], "ETag":["W/\"2b6d2fe7e83fbe3dba91a1fdd02b59c9\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":222405243,\"story_id\":66728004,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T09:21:54Z\",\"updated_at\":\"2021-03-03T09:21:54Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:54 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/uploads","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost-36e74237a5d382f20b1467a04bc851cc\r\nContent-Disposition: form-data; name=\"file\"; filename=\"Gemfile\"\r\nContent-Length: 144\r\nContent-Type: \r\nContent-Transfer-Encoding: binary\r\n\r\nsource 'https://rubygems.org'\n\n# Specify your gem's dependencies in tracker_api.gemspec\ngemspec\n\ngem 'coveralls', group: :test, require: false\n\n\r\n-------------RubyMultipartPost-36e74237a5d382f20b1467a04bc851cc--\r\n"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost-36e74237a5d382f20b1467a04bc851cc"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["708"], "ETag":["W/\"11a10dc3fc5ecfabb17b709662d288e8\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"file_attachment\",\"id\":109448642,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:21:54Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448642/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:55 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/222405243?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_add\":[109448642]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["709"], "ETag":["W/\"35097db6ceea22733e5e6ad22d99fb1d\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[{\"kind\":\"file_attachment\",\"id\":109448642,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:21:54Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448642/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}],\"id\":222405243,\"story_id\":66728004,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T09:21:54Z\",\"updated_at\":\"2021-03-03T09:21:55Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:56 GMT"}],"recorded_with":"VCR 6.0.0"}