{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories","body":{"encoding":"UTF-8","string":"{\"name\":\"Test story\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["56"], "ETag":["\"c43c69054ccc6c19ee920d031b88f659\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"{\"kind\":\"story\",\"id\":90139972,\"project_id\":1027488,\"name\":\"Test story\",\"story_type\":\"feature\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[],\"created_at\":\"2015-03-11T20:33:58Z\",\"updated_at\":\"2015-03-11T20:33:58Z\",\"url\":\"https://www.pivotaltracker.com/story/show/90139972\"}"},"http_version":null},"recorded_at":"Wed, 11 Mar 2015 20:29:49 GMT"}],"recorded_with":"VCR 2.9.3"}