{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"Test creating a comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"da92c553a8b55689359d240720a6f827\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["232"], "X-Vcap-Request-Id":["dadd7537-fe99-477d-653f-1951652b588e"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":170363243,\"story_id\":66728004,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2017-05-03T23:29:39Z\",\"updated_at\":\"2017-05-03T23:29:39Z\"}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:39 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/170363243","body":{"encoding":"UTF-8","string":"{}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["400 Bad Request"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Vcap-Request-Id":["ca7a904a-4c12-4513-68c8-b8a57e549abc"]},"body":{"encoding":"ASCII-8BIT","string":"{\"code\":\"invalid_parameter\",\"kind\":\"error\",\"error\":\"One or more request parameters was missing or invalid.\",\"general_problem\":\"this endpoint requires at least one of the following parameters: attachment_ids_to_remove, attachments_to_add, file_attachment_ids_to_add, file_attachment_ids_to_remove, google_attachment_ids_to_remove, text\"}"},"http_version":null},"recorded_at":"Mon, 12 Jun 2017 00:26:32 GMT"}],"recorded_with":"VCR 3.0.3"}