{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728030/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"This is a test comment.\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"3fba2b6ec156f4e8954c8d3e767717d1\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["169"], "X-Vcap-Request-Id":["84551415-6a75-4d7d-4ef2-ba36472bf425"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":170349667,\"story_id\":66728030,\"text\":\"This is a test comment.\",\"person_id\":1266314,\"created_at\":\"2017-05-03T21:02:53Z\",\"updated_at\":\"2017-05-03T21:02:53Z\"}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 21:02:53 GMT"}],"recorded_with":"VCR 2.9.3"}