{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728030/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"This is a test comment.\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"84529e411cdf14597617ff493dda293d\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["163"], "X-Vcap-Request-Id":["b7c7690e-61fd-4ee0-70bd-6b3af4b357c6"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":169990883,\"story_id\":66728030,\"text\":\"This is a test comment.\",\"person_id\":1266314,\"created_at\":\"2017-04-28T18:38:00Z\",\"updated_at\":\"2017-04-28T18:38:00Z\"}"},"http_version":null},"recorded_at":"Fri, 28 Apr 2017 18:38:00 GMT"}],"recorded_with":"VCR 2.9.3"}