{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"Test creating a comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["727"], "ETag":["W/\"61de286759b9d4574641e38bf4d1fc55\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":222405254,\"epic_id\":4737194,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T09:22:13Z\",\"updated_at\":\"2021-03-03T09:22:13Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:22:13 GMT"}],"recorded_with":"VCR 6.0.0"}