{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["723"], "ETag":["W/\"c6f9bd646812ad6dfa7144865f4d2bb1\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":4737194,\"kind\":\"epic\",\"created_at\":\"2021-03-03T08:35:42Z\",\"updated_at\":\"2021-03-03T09:22:05Z\",\"project_id\":1027488,\"name\":\"Test\",\"url\":\"https://www.pivotaltracker.com/epic/show/4737194\",\"label\":{\"id\":22934751,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"test\",\"created_at\":\"2021-03-03T08:35:42Z\",\"updated_at\":\"2021-03-03T08:35:42Z\"}}"}},"recorded_at":"Wed, 03 Mar 2021 09:22:09 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"test comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["724"], "ETag":["W/\"aface2b86e06008b58b263bf024cd997\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":222405252,\"epic_id\":4737194,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T09:22:09Z\",\"updated_at\":\"2021-03-03T09:22:09Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:22:10 GMT"},[...]
{"request":{"method":"delete","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments/222405252","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Tracker-Project-Version":["725"], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":""}},"recorded_at":"Wed, 03 Mar 2021 09:22:11 GMT"},[...]
