{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["720"], "ETag":["W/\"c3c77cc9b4305bd33ecd8771464df475\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":66728004,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2021-03-03T09:22:04Z\",\"story_type\":\"bug\",\"name\":\"Some product photos not scaled properly when browsing products+++++++++++++++++++++++++++\",\"description\":\"++++++++++++++++\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728004\",\"project_id\":1027488,\"owner_ids\":[1266314,1266316],\"labels\":[{\"id\":11049870,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"label2\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"},{\"id\":14060665,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"super-special-label\",\"created_at\":\"2016-02-12T23:45:13Z\",\"updated_at\":\"2016-02-12T23:45:13Z\"}],\"owned_by_id\":1266314}"}},"recorded_at":"Wed, 03 Mar 2021 09:22:06 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"test comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["721"], "ETag":["W/\"1f16bc9699fc900851170bfd20758037\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":222405250,\"story_id\":66728004,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T09:22:06Z\",\"updated_at\":\"2021-03-03T09:22:06Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:22:07 GMT"},[...]
{"request":{"method":"delete","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/222405250","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":204,"message":"No Content"},"headers":{"Status":["204 No Content"], "X-Tracker-Project-Version":["722"], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":""}},"recorded_at":"Wed, 03 Mar 2021 09:22:08 GMT"},[...]
