{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"test comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"41563e5f526f1848b15c73c0e35da4d1\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["274"], "X-Vcap-Request-Id":["1e6356c1-5099-4c60-731a-9795c8ee7f09"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":173612961,\"story_id\":66728004,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2017-06-12T04:32:05Z\",\"updated_at\":\"2017-06-12T04:32:05Z\"}"},"http_version":null},"recorded_at":"Mon, 12 Jun 2017 04:32:05 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/uploads","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost-9d081de8e923a5f828bd19095e2d4614\r\nContent-Disposition: form-data; name=\"file\"; filename=\"Gemfile\"\r\nContent-Length: 144\r\nContent-Type: \r\nContent-Transfer-Encoding: binary\r\n\r\nsource 'https://rubygems.org'\n\n# Specify your gem's dependencies in tracker_api.gemspec\ngemspec\n\ngem 'coveralls', group: :test, require: false\n\n\r\n-------------RubyMultipartPost-9d081de8e923a5f828bd19095e2d4614--\r\n\r\n"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost-9d081de8e923a5f828bd19095e2d4614"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html; charset=utf-8"], "Etag":["\"668d416b586c3c528748c4c2e233a0da\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["274"], "X-Vcap-Request-Id":["97f94c33-a3ef-4a1c-5ffc-bc3acfa17f69"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"file_attachment\",\"id\":80981051,\"filename\":\"Gemfile\",\"created_at\":\"2017-06-12T04:32:06Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/80981051/download\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}"},"http_version":null},"recorded_at":"Mon, 12 Jun 2017 04:32:06 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/173612961?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_add\":[80981051]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"2a3224d7487c35a703524109f9a6f727\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["275"], "X-Vcap-Request-Id":["d4b02942-2a14-4bbb-5b59-2ec23d0b20d0"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[{\"kind\":\"file_attachment\",\"id\":80981051,\"filename\":\"Gemfile\",\"created_at\":\"2017-06-12T04:32:06Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/80981051/download\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}],\"id\":173612961,\"story_id\":66728004,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2017-06-12T04:32:05Z\",\"updated_at\":\"2017-06-12T04:32:07Z\"}"},"http_version":null},"recorded_at":"Mon, 12 Jun 2017 04:32:07 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/173612961?fields=file_attachments","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"99e589a588c8942ef0fee8918334f509\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker[...]
[...]
{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/173612961?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_remove\":[80981051]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"083511cb26d157694ae7271dee2e8505\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["277"], "X-Vcap-Request-Id":["4834e483-a596-44b1-6669-4e8ef9edf255"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[],\"id\":173612961,\"story_id\":66728004,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2017-06-12T04:32:05Z\",\"updated_at\":\"2017-06-12T04:36:28Z\"}"},"http_version":null},"recorded_at":"Mon, 12 Jun 2017 04:36:28 GMT"}],"recorded_with":"VCR 3.0.3"}