{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/uploads","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost-4d5f552220f420d2e6ed437c192f5a3b\r\nContent-Disposition: form-data; name=\"file\"; filename=\"Gemfile\"\r\nContent-Length: 144\r\nContent-Type: \r\nContent-Transfer-Encoding: binary\r\n\r\nsource 'https://rubygems.org'\n\n# Specify your gem's dependencies in tracker_api.gemspec\ngemspec\n\ngem 'coveralls', group: :test, require: false\n\n\r\n-------------RubyMultipartPost-4d5f552220f420d2e6ed437c192f5a3b--\r\n"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost-4d5f552220f420d2e6ed437c192f5a3b"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["709"], "ETag":["W/\"92dd1eb0cff0d772a6a7d9884bf9d5fe\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"file_attachment\",\"id\":109448644,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:21:56Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448644/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:57 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments/222404217?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_add\":[109448644]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["711"], "ETag":["W/\"bf91738a951c1cb16ea2935a8e802300\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[{\"kind\":\"file_attachment\",\"id\":109448644,\"filename\":\"Gemfile\",\"created_at\":\"2021-03-03T09:21:56Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/109448644/download\",\"content_type\":\"application/octet-stream\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}],\"id\":222404217,\"epic_id\":4737194,\"text\":\"Test creating a comment++\",\"person_id\":1266314,\"created_at\":\"2021-03-03T08:41:25Z\",\"updated_at\":\"2021-03-03T09:21:57Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:58 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments/222404217?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_remove\":[109448644]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["714"], "ETag":["W/\"4348572de552102cc141ebc3451c109e\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[],\"id\":222404217,\"epic_id\":4737194,\"text\":\"Test creating a comment++\",\"person_id\":1266314,\"created_at\":\"2021-03-03T08:41:25Z\",\"updated_at\":\"2021-03-03T09:21:58Z\"}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:58 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments/222404217?fields=file_attachments","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["714"], "ETag":["W/\"029a922a452b88a98e9b8a847bd13964\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"file_attachments\":[],\"id\":222404217}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:59 GMT"}],"recorded_with":"VCR 6.0.0"}