{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"test comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"0f624792eb1d5548d47bdbcc69088b92\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["390"], "X-Vcap-Request-Id":["8a497cb1-6f71-4b9b-5d23-91b9c416a286"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":181648318,\"story_id\":66728004,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2017-10-31T16:15:38Z\",\"updated_at\":\"2017-10-31T16:15:38Z\"}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:41 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/uploads","body":{"encoding":"UTF-8","string":"-------------RubyMultipartPost-76754ae3a2adb9f1c6e52e8eb4dfcdba\r\nContent-Disposition: form-data; name=\"file\"; filename=\"Gemfile\"\r\nContent-Length: 144\r\nContent-Type: \r\nContent-Transfer-Encoding: binary\r\n\r\nsource 'https://rubygems.org'\n\n# Specify your gem's dependencies in tracker_api.gemspec\ngemspec\n\ngem 'coveralls', group: :test, require: false\n\n\r\n-------------RubyMultipartPost-76754ae3a2adb9f1c6e52e8eb4dfcdba--\r\n\r\n"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["multipart/form-data; boundary=-----------RubyMultipartPost-76754ae3a2adb9f1c6e52e8eb4dfcdba"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"002675c515d5b8de11e2e885884b6beb\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["390"], "X-Vcap-Request-Id":["7f858030-2233-45ac-6ccd-cb717b8e11c5"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"file_attachment\",\"id\":85128155,\"filename\":\"Gemfile\",\"created_at\":\"2017-10-31T16:15:41Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/85128155/download\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:44 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/181648318?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_add\":[85128155]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"fe35e9c6407ed86a633b50b33d3bb477\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["391"], "X-Vcap-Request-Id":["eccf2813-dca1-407a-4dd4-4a62721b644a"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[{\"kind\":\"file_attachment\",\"id\":85128155,\"filename\":\"Gemfile\",\"created_at\":\"2017-10-31T16:15:41Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/85128155/download\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}],\"id\":181648318,\"story_id\":66728004,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2017-10-31T16:15:38Z\",\"updated_at\":\"2017-10-31T16:15:44Z\"}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:44 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/181648318?fields=file_attachments","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d7be6bea6d94ec189964f417fa92aee9\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["391"], "X-Vcap-Request-Id":["7215621b-a569-4475-7148-a184812d5e6b"]},"body":{"encoding":"ASCII-8BIT","string":"{\"file_attachments\":[{\"kind\":\"file_attachment\",\"id\":85128155,\"filename\":\"Gemfile\",\"created_at\":\"2017-10-31T16:15:41Z\",\"uploader_id\":1266314,\"thumbnailable\":false,\"size\":144,\"download_url\":\"/file_attachments/85128155/download\",\"uploaded\":false,\"big_url\":\"#\",\"thumbnail_url\":\"#\"}],\"id\":181648318}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:45 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/181648318?fields=%3Adefault%2Cfile_attachments","body":{"encoding":"UTF-8","string":"{\"file_attachment_ids_to_remove\":[85128155]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"18b7c34c5dcd4a51c299b010427330d6\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["392"], "X-Vcap-Request-Id":["8c846aa9-6547-42ee-6877-ee9edbb5ff59"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"file_attachments\":[],\"id\":181648318,\"story_id\":66728004,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2017-10-31T16:15:38Z\",\"updated_at\":\"2017-10-31T16:15:45Z\"}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:45 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/181648318?fields=file_attachments","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"0977cd9c44a2e5b945fbe3fef7c449ef\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["392"], "X-Vcap-Request-Id":["3b9e92d7-9964-49aa-468b-4fcb2ec9d3a9"]},"body":{"encoding":"ASCII-8BIT","string":"{\"file_attachments\":[],\"id\":181648318}"},"http_version":null},"recorded_at":"Tue, 31 Oct 2017 16:15:45 GMT"}],"recorded_with":"VCR 3.0.3"}