{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"14e5386d20bcf42e6463dc93be787e76\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["374"], "X-Vcap-Request-Id":["295d3cbf-181b-41a5-552f-68ec0d0d5612"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":66728004,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2017-09-07T19:19:18Z\",\"story_type\":\"bug\",\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"description\":\"++++++++++\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728004\",\"project_id\":1027488,\"owner_ids\":[1266314,1266316],\"labels\":[{\"id\":11049870,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"label2\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"}],\"owned_by_id\":1266314}"},"http_version":null},"recorded_at":"Thu, 07 Sep 2017 19:20:29 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments","body":{"encoding":"UTF-8","string":"{\"text\":\"test comment\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"0c3769a293507027104d2dbbfd1eda01\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["375"], "X-Vcap-Request-Id":["cdf3493b-eb29-4373-61e8-84c78c464bf2"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":179393464,\"story_id\":66728004,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2017-09-07T19:20:29Z\",\"updated_at\":\"2017-09-07T19:20:29Z\"}"},"http_version":null},"recorded_at":"Thu, 07 Sep 2017 19:20:30 GMT"},[...]
{"request":{"method":"delete","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/179393464","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":204,"message":null},"headers":{"Status":["204 No Content"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["376"], "X-Vcap-Request-Id":["228ebcf2-53c7-4145-7971-2f9628d275b3"]},"body":{"encoding":"ASCII-8BIT","string":""},"http_version":null},"recorded_at":"Thu, 07 Sep 2017 19:20:30 GMT"},[...]
