{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?with_state=unscheduled","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["3"], "x-tracker-pagination-total":["4"], "x-tracker-pagination-offset":["0"], "x-tracker-pagination-limit":["100"], "x-tracker-pagination-returned":["4"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"kind\": \"story\",\n    \"id\": 66728084,\n    \"created_at\": \"2014-02-17T00:00:00Z\",\n    \"updated_at\": \"2014-03-02T07:11:07Z\",\n    \"story_type\": \"bug\",\n    \"name\": \"Product browsing pagination not working in IE6\",\n    \"current_state\": \"unscheduled\",\n    \"requested_by_id\": 1266314,\n    \"project_id\": 1027488,\n    \"url\": \"https://www.pivotaltracker.com/story/show/66728084\",\n    \"owner_ids\": [\n\n    ],\n    \"labels\": [\n      {\n        \"id\": 7849110,\n        \"project_id\": 1027488,\n        \"kind\": \"label\",\n        \"name\": \"ie6\",\n        \"created_at\": \"2014-03-02T07:11:07Z\",\n        \"updated_at\": \"2014-03-02T07:11:07Z\"\n      }\n    ]\n  },\n  {\n    \"kind\": \"story\",\n    \"id\": 66728086,\n    \"created_at\": \"2014-02-17T00:00:00Z\",\n    \"updated_at\": \"2014-03-02T07:11:07Z\",\n    \"story_type\": \"feature\",\n    \"name\": \"Integrate with automated order fullfillment syst[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728084/comments","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["57"], "ETag":["\"d751713988987e9331980363e24189ce\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Wed, 22 Apr 2015 20:40:17 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728084/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["57"], "ETag":["\"d751713988987e9331980363e24189ce\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Wed, 22 Apr 2015 20:40:17 GMT"}],"recorded_with":"VCR 2.9.3"}