{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/me","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"48e9db07a22d66874d2c47803d38fb67\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Vcap-Request-Id":["b621e371-a4f8-49a2-416b-22808ef69c4d"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"me\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\",\"username\":\"trackerapi1\",\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-07:00\"},\"api_token\":\"d55c3bc1f74346b843ca84ba340b29bf\",\"has_google_identity\":false,\"projects\":[{\"kind\":\"membership_summary\",\"id\":4001820,\"project_id\":1027488,\"project_name\":\"My Sample Project\",\"project_color\":\"555555\",\"favorite\":false,\"role\":\"owner\",\"last_viewed_at\":\"2017-05-03T19:41:42Z\"}],\"email\":\"forestcarlisle+trackerapi1@gmail.com\",\"receives_in_app_notifications\":true,\"created_at\":\"2014-03-02T07:09:48Z\",\"updated_at\":\"2017-05-03T23:17:22Z\"}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:30:01 GMT"}],"recorded_with":"VCR 2.9.3"}