{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/my/activity?fields=%3Adefault","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["27"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Returned":["27"], "ETag":["\"31e59c5f6c26f21badb86aae1a01e465\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story_update_activity\",\"guid\":\"1027488_31\",\"project_version\":31,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728084,\"original_values\":{\"name\":\"Product browsing pagination not working in IE6\",\"updated_at\":\"2014-03-02T07:11:07Z\"},\"new_values\":{\"name\":\"Product browsing pagination not working in IE6+\",\"updated_at\":\"2015-01-14T23:18:12Z\"},\"name\":\"Product browsing pagination not working in IE6+\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728084,\"name\":\"Product browsing pagination not working in IE6+\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728084\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2015-01-14T23:18:12Z\"},{\"kind\":\"story_create_activity\",\"guid\":\"1027488_30\",\"project_version\":30,\"message\":\"Tracker API User1 added this feature\",\"highlight\":\"added\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"create\",\"id\":86045094,\"new_values\":{\"id\":86045094,\"project_id\":1027488,\"name\":\"Test story\",\"story_type\":\"feature\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"owner_ids\":[],\"label_ids\":[],\"follower_ids\":[],\"created_at\":\"2015-01-13T19:16:04Z\",\"updated_at\":\"2015-01-13T19:16:04Z\",\"before_id\":84269322,\"after_id\":66728082,\"labels\":[]},\"name\":\"Test story\",\"story_type\":\"feature\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":86045094,\"name\":\"Test story\",\"story_type\":\"feature\",\"url\":\"https://www.pivotaltracker.com/story/show/86045094\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2015-01-13T19:16:04Z\"},{\"kind\":\"story_update_activity\",\"g[...]
