{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["4"]},"body":{"encoding":"UTF-8","string":"{\n  \"kind\": \"story\",\n  \"id\": 66728004,\n  \"project_id\": 1027488,\n  \"name\": \"Some product photos not scaled properly when browsing products\",\n  \"story_type\": \"bug\",\n  \"current_state\": \"started\",\n  \"requested_by_id\": 1266314,\n  \"owner_ids\": [\n\n  ],\n  \"labels\": [\n    {\n      \"kind\": \"label\",\n      \"id\": 7849082,\n      \"project_id\": 1027488,\n      \"name\": \"shopping\",\n      \"created_at\": \"2014-03-02T07:11:04Z\",\n      \"updated_at\": \"2014-03-02T07:11:04Z\"\n    }\n  ],\n  \"created_at\": \"2014-02-17T00:00:00Z\",\n  \"updated_at\": \"2014-06-02T12:44:52Z\",\n  \"url\": \"https://www.pivotaltracker.com/story/show/66728004\"\n}"},"http_version":null},"recorded_at":"Mon, 02 Jun 2014 12:52:37 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["4"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"kind\": \"task\",\n    \"id\": 22778038,\n    \"story_id\": 66728004,\n    \"description\": \"Check unscaled\",\n    \"complete\": false,\n    \"position\": 1,\n    \"created_at\": \"2014-06-02T12:44:52Z\",\n    \"updated_at\": \"2014-06-02T12:44:52Z\"\n  }\n]"},"http_version":null},"recorded_at":"Mon, 02 Jun 2014 12:52:39 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/6672804","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":404,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\n  \"code\": \"unfound_resource\",\n  \"kind\": \"error\",\n  \"error\": \"The object you tried to access could not be found.  It may have been removed by another user, you may be using the ID of another object type, or you may be trying to access a sub-resource at the wrong point in a tree.\"\n}"},"http_version":null},"recorded_at":"Mon, 02 Jun 2014 12:53:00 GMT"}],"recorded_with":"VCR 2.9.2"}