{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004?fields=%3Adefault%2Ctasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["66"], "ETag":["\"604d8984ff60bf034dc57b3fc3d958cb\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"{\"kind\":\"story\",\"id\":66728004,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2015-06-24T21:05:50Z\",\"story_type\":\"bug\",\"name\":\"Some product photos not scaled properly when browsing products+++\",\"description\":\"+\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"project_id\":1027488,\"url\":\"https://www.pivotaltracker.com/story/show/66728004\",\"owner_ids\":[],\"labels\":[{\"id\":11049868,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"label1\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"},{\"id\":11049870,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"label2\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"}],\"tasks\":[{\"id\":22778038,\"kind\":\"task\",\"description\":\"Check unscaled\",\"complete\":false,\"story_id\":66728004,\"position\":1,\"created_at\":\"2014-06-02T12:44:52Z\",\"updated_at\":\"2014-06-02T12:44:52Z\"},{\"id\":32873326,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":2,\"created_at\":\"2015-06-09T21:24:28Z\",\"updated_at\":\"2015-06-09T21:24:28Z\"},{\"id\":33341356,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":3,\"created_at\":\"2015-06-24T18:04:04Z\",\"updated_at\":\"2015-06-24T18:04:04Z\"},{\"id\":33348986,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":4,\"created_at\":\"2015-06-24T21:05:50Z\",\"updated_at\":\"2015-06-24T21:05:50Z\"}]}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:06:10 GMT"}],"recorded_with":"VCR 2.9.3"}