{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728000","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"54b8cf5cab3b547d4f390d2f2ab6002b\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["238"], "X-Vcap-Request-Id":["70c9e407-f6ef-4487-77fd-d21129247d9f"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":66728000,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2017-01-03T23:49:51Z\",\"estimate\":1,\"story_type\":\"feature\",\"name\":\"Shopper should be able to remove product from shopping cart\",\"current_state\":\"rejected\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728000\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849086,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"cart\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"id\":7849082,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"shopping\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}]}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:46 GMT"}],"recorded_with":"VCR 2.9.3"}