{"http_interactions": [
  {
    "request": {
      "method": "get",
      "uri": "https://www.pivotaltracker.com/services/v5/me",
      "body": {
        "encoding": "US-ASCII",
        "string": ""
      },
      "headers": {
        "X-TrackerToken": ["d55c3bc1f74346b843ca84ba340b29bf"]
      }
    },
    "response": {
      "status": {
        "code": 200,
        "message": null
      },
      "headers": {
        "content-type": ["application/json; charset=utf-8"],
        "status": ["200 OK"]
      },
      "body": {
        "encoding": "UTF-8",
        "string": "{\n  \"kind\": \"me\",\n  \"id\": 1266314,\n  \"name\": \"Tracker API User1\",\n  \"initials\": \"TU1\",\n  \"username\": \"trackerapi1\",\n  \"time_zone\": {\n    \"kind\": \"time_zone\",\n    \"olson_name\": \"America/Los_Angeles\",\n    \"offset\": \"-07:00\"\n  },\n  \"api_token\": \"d55c3bc1f74346b843ca84ba340b29bf\",\n  \"has_google_identity\": false,\n  \"projects\": [\n    {\n      \"kind\": \"membership_summary\",\n      \"id\": 4001820,\n      \"project_id\": 1027488,\n      \"project_name\": \"My Sample Project\",\n      \"project_color\": \"555555\",\n      \"role\": \"owner\",\n      \"last_viewed_at\": \"2014-03-05T07:57:38Z\"\n    }\n  ],\n  \"email\": \"forestcarlisle+trackerapi1@gmail.com\",\n  \"receives_in_app_notifications\": true\n}"
      },
    },
    "recorded_at": "Wed, 07 May 2014 05:03:29 GMT"
  }
], "recorded_with": "VCR 2.8.0"}
