{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1&offset=1","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"2e30929537ab96209faf788aa58396cc\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Offset":["1"], "X-Tracker-Pagination-Returned":["1"], "X-Tracker-Pagination-Total":["172"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["1305f213-cf94-4226-5e7d-ce9017bb8b3c"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"number\":2,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66727984,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2016-03-07T05:06:55Z\",\"accepted_at\":\"2014-02-18T00:00:00Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"Admin should be able to upload multiple product photos and mark one as the primary\",\"current_state\":\"accepted\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66727984\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849080,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"admin\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}]},{\"kind\":\"story\",\"id\":66727986,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2016-03-07T05:06:55Z\",\"accepted_at\":\"2014-02-18T00:00:00Z\",\"estimate\":2,\"story_type\":\"feature\",\"name\":\"Shopper should see list of products, with primary photo as thumbnail\",\"current_state\":\"accepted\",\"requested_by_id\":1266314[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d9846ef36e0932c4eb8f6c1a9b823dac\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["1"], "X-Tracker-Pagination-Total":["172"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["c86968bf-4ed6-4141-4d5a-2d40588d3d52"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"number\":1,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66727974,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2016-07-02T00:13:35Z\",\"accepted_at\":\"2014-02-11T00:00:00Z\",\"story_type\":\"chore\",\"name\":\"Name From Test\",\"description\":\"We need 2 machines set up\",\"current_state\":\"accepted\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66727974\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[]},{\"kind\":\"story\",\"id\":66727976,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2016-03-07T05:06:54Z\",\"accepted_at\":\"2014-02-11T00:00:00Z\",\"story_type\":\"chore\",\"name\":\"Setup demo server\",\"description\":\"Should be accessible from outside the network, with basic auth[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1&offset=9999","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Offset":["9999"], "X-Tracker-Pagination-Returned":["0"], "X-Tracker-Pagination-Total":["172"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["4d66175c-0f85-4b72-52f8-1e55258e0f9d"]},"body":{"encoding":"ASCII-8BIT","string":"[]"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:49 GMT"}],"recorded_with":"VCR 2.9.3"}