{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "ETag":["\"6c4d796c19d12ca7df845124a48857c4\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"iteration\",\"number\":72,\"project_id\":1027488,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66727998,\"project_id\":1027488,\"name\":\"Shopper should be able to view contents of shopping cart\",\"description\":\"Cart icon in top right corner, with a number indicating how many items in cart\",\"story_type\":\"feature\",\"current_state\":\"delivered\",\"estimate\":2,\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":7849086,\"project_id\":1027488,\"name\":\"cart\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"kind\":\"label\",\"id\":7849082,\"project_id\":1027488,\"name\":\"shopping\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}],\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:05Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66727998\"},{\"kind\":\"story\",\"id\":66728000,\"project_id\":1027488,\"name\":\"Shopper should be able to remove product from shopping cart\",\"story_type\":\"feature\",\"current_state\":\"delivered\",\"estimate\":1,\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":7849086,\"project_id\":1027488,\"name\":\"cart\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"kind\":\"label\",\"id[...]
