{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?fields=name%2Cstory_type&with_state=unstarted","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["25"], "X-Tracker-Pagination-Total":["39"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Returned":["39"], "ETag":["\"8d0123a7b9be19e6769bbca8ae9035ec\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"id\": 66728006,\n    \"story_type\": \"feature\",\n    \"name\": \"Shopper should be able to recommend a product to a friend\"\n  },\n  {\n    \"id\": 66728008,\n    \"story_type\": \"chore\",\n    \"name\": \"configure solr for full text searching\"\n  },\n  {\n    \"id\": 66728010,\n    \"story_type\": \"feature\",\n    \"name\": \"Shopper should be able to search for product\"\n  },\n  {\n    \"id\": 66728012,\n    \"story_type\": \"release\",\n    \"name\": \"Initial demo to investors\"\n  },\n  {\n    \"id\": 66728014,\n    \"story_type\": \"feature\",\[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728006/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["25"], "ETag":["\"18b50eaa01e860d2c78d96b8478bfd75\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[\n\n]"},"http_version":null},"recorded_at":"Mon, 17 Nov 2014 19:02:24 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728082/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["25"], "ETag":["\"18b50eaa01e860d2c78d96b8478bfd75\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[\n\n]"},"http_version":null},"recorded_at":"Mon, 17 Nov 2014 19:02:38 GMT"}],"recorded_with":"VCR 2.9.3"}