{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/my/workspaces/375106","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"416b574e9e3c936a067f766c0ac0f0cd\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Vcap-Request-Id":["32a18141-48ff-446c-6ad0-70d6052a9f9d"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":375106,\"kind\":\"workspace\",\"name\":\"Multi-Project Workspace\",\"person_id\":1266314,\"project_ids\":[1027488]}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:51 GMT"}],"recorded_with":"VCR 2.9.3"}