{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/me","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "ETag":["\"745fd395ea1f06ff94f92eb8fc443ff9\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"{\"kind\":\"me\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\",\"username\":\"trackerapi1\",\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-07:00\"},\"api_token\":\"d55c3bc1f74346b843ca84ba340b29bf\",\"has_google_identity\":false,\"projects\":[{\"kind\":\"membership_summary\",\"id\":4001820,\"project_id\":1027488,\"project_name\":\"My Sample Project\",\"project_color\":\"555555\",\"role\":\"owner\",\"last_viewed_at\":\"2015-06-22T23:49:11Z\"}],\"email\":\"forestcarlisle+trackerapi1@gmail.com\",\"receives_in_app_notifications\":true,\"created_at\":\"2014-03-02T07:09:48Z\",\"updated_at\":\"2015-06-24T21:06:02Z\"}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:06:11 GMT"}],"recorded_with":"VCR 2.9.3"}