{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations/283/analytics/cycle_time_details","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"ce501d87f5dcf9ca6273dba59992b807\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["588"], "X-Vcap-Request-Id":["6d7e803c-115c-41d7-5f81-38aec3d55d34"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"cycle_time_details\",\"total_cycle_time\":79244519000,\"started_time\":0,\"started_count\":0,\"finished_time\":0,\"finished_count\":0,\"delivered_time\":0,\"delivered_count\":0,\"rejected_time\":79244519000,\"rejected_count\":1,\"story_id\":66728000},{\"kind\":\"cycle_time_details\",\"started_time\":0,\"started_count\":0,\"finished_time\":0,\"finished_count\":0,\"delivered_time\":0,\"delivered_count\":0,\"rejected_time\":0,\"rejected_count\":0,\"story_id\":66727998},{\"kind\":\"cycle_time_details\",\"started_time\":0,\"started_count\":0,\"finished_time\":0,\"finished_count\":0,\"delivered_time\":0,\"delivered_count\":0,\"rejected_time\":0,\"rejected_count\":0,\"story_id\":66728002},{\"kind\":\"cycle_time_details\",\"started_time\":[...]
