{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"a8e0e87a4e4b94ba657cc8e5326953bb\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["588"], "X-Vcap-Request-Id":["e3f3ec66-0366-4a86-6934-d5409e7b620d"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"number\":283,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66728000,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2017-01-03T23:49:51Z\",\"estimate\":1,\"story_type\":\"feature\",\"name\":\"Shopper should be able to remove product from shopping cart\",\"current_state\":\"rejected\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728000\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849086,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"cart\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"id\":7849082,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"shopping\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}]},{\"kind\":\"story\",\"id\":66727998,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:05Z\",\"estimate\":2,\"story_type\":\"feature\",\"name\":\"Shopper should be able to view contents of shopping cart\",\"description\":\"Cart icon in top right corner, with a number indicating how many items in cart\",\"current_state\":\"delivered\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66727998\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849086,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"cart\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"id\":7849082,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"shopping\",\"cre[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?fields=%3Adefault%2Cvelocity%2Cpoints%2Caccepted_points%2Ceffective_points&scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"78dfa6788316202fba32d097f5ee3b47\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["588"], "X-Vcap-Request-Id":["afbcb8af-5fbc-40e2-4aa5-a57f6e4b2359"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"velocity\":10,\"points\":9,\"accepted_points\":0,\"effective_points\":9.0,\"number\":283,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66728000,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2017-01-03T23:49:51Z\",\"estimate\":1,\"story_type\":\"feature\",\"name\":\"Shopper should be able to remove product from shopping cart\",\"current_state\":\"rejected\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728000\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\"[...]
