{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/activity","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"3eaacbb5e96cdf6d06a1223d353e88e5\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["23"], "X-Tracker-Pagination-Total":["23"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["70519d92-5cf2-4ebe-6c62-2c63360b0de0"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story_update_activity\",\"guid\":\"1027488_241\",\"project_version\":241,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"owner_ids\":[1266314]},\"new_values\":{\"owner_ids\":[1266314,1266316]},\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"secondary_resources\":[],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2017-05-03T23:29:47Z\"},{\"kind\":\"story_update_activity\",\"guid\":\"1027488_240\",\"project_version\":240,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"owner_ids\":[1266314,1266316],\"updated_at\":\"2017-05-03T23:29:46Z\"},\"new_values\":{\"owner_ids\":[1266314],\"updated_at\":\"2017-05-03T23:29:47Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"secondary_resources\":[],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2017-05-03T23:29:47Z\"},{\"kind\":\"story_update_activity\",\"guid\":\"1027488_239\",\"project_version\":239,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"name\":\"Some product photos not scaled properly when browsing products++++++++\",\"description\":\"+++++++++\",\"updated_at\":\"2017-05-03T23:29:44Z\"},\"new_values\":{\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"description\":\"++++++++++\",\"updated_at\":\"2017-05-03T23:29:46Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"secondary_resources\":[],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2017-05-03T23:29:46Z\"},{\"kind\":\"story_update_activity\",\"guid\":\"1027488_236\",\"project_version\":236,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"label\",\"change_type\":\"update\",\"id\":14060665,\"original_values\":{\"counts\":{\"number_of_zero_point_stories_by_state\":{\"accepted\":0,\"started\":0,\"finished\":0,\"unstarted\":0,\"planned\":0,\"delivered\":0,\"unscheduled\":0,\"rejected\":0,\"kind\":\"counts_by_story_state\"},\"sum_of_story_estimates_by_state\":{\"accepted\":0,\"started\":0,\"finished\":0,\"unstarted\":0,\"planned\":0,\"delivered\":0,\"unscheduled\":0,\"rejected\":0,\"kind\":\"counts_by_story_state\"},\"number_of_stories_by_state\":{\"accepted\":0,\"started\":0,\"finished\":0,\"unstarted\":0,\"planned\":0,\"delivered\":0,\"unscheduled\":0,\"rejected\":0,\"kind\":\"counts_by_story_state\"},\"kind\":\"story_counts\"}},\"new_values\":{\"counts\":{\"number_of_zero_point_stories_by_state\":{\"accepted\":0,\"started\":1,\"finished\":0,\"unstarted\":0,\"planned\":0,\"delivered\":0,\"unscheduled\":0,\"rejected\":0,\"kind\":\"counts_by_story_state\"},\"sum_of_story_estimates_by_state\":{\"accepted\":0,\"started\":0,\"finished\":0,\"unstarted\":0,\"planned\":0,\"delivered\":0,\"unscheduled\":0,\"rejected\":0,\"kind\":\"counts_by_story_state\"},\"number_of_stories_by_state\":{\"accepted\":0,\"started\":1,\"finished\":0,\"unstarted\":0,\"planned\":0,\"delivered\":0,\"unscheduled\":0,\"rejected\":0,\"kind\":\"counts_by_story_state\"},\"kind\":\"story_counts\"}},\"name\":\"super-special-label\"},{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"label_ids\":[11049868,11049870],\"updated_at\":\"2017-05-03T23:29:39Z\",\"labels\":[\"label1\",\"label2\"]},\"new_values\":{\"label_ids\":[11049868,11049870,14060665],\"updated_at\":\"2017-05-03T23:29:44Z\",\"labels\":[\"label1\",\"label2\",\"super-special-label\"]},\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"secondary_resources\":[],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2017-05-03T23:29:44Z\"},{\"kind\":\"comment_create_activity\",\"guid\":\"1027488_232\",\"project_version\":232,\"message\":\"Tracker API User1 added comment: \\\"Test creating a comment\\\"\",\"highlight\":\"added comment:\",\"changes\":[{\"kind\":\"comment\",\"change_type\":\"create\",\"id\":170363243,\"new_values\":{\"id\":170363243,\"story_id\":66728004,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2017-05-03T23:29:39Z\",\"updated_at\":\"2017-05-03T23:29:39Z\",\"file_attachment_ids\":[],\"google_attachment_ids\":[],\"attachment_ids\":[],\"file_attachments\":[],\"google_attachments\":[]}}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"secondary_resources\":[],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2017-05-03T23:29:39Z\"},{\"kin[...]
