{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["107"], "ETag":["\"2925db9991e358d25cdba94fb0dd916a\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"number\":105,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66727998,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:05Z\",\"estimate\":2,\"story_type\":\"feature\",\"name\":\"Shopper should be able to view contents of shopping cart\",\"description\":\"Cart icon in top right corner, with a number indicating how many items in cart\",\"current_state\":\"delivered\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66727998\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849086,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"cart\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"id\":7849082,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"shopping\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}]},{\"kind\":\"story\",\"id\":66728000,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:05Z\",\"estimate\":1,\"story_type\":\"feature\",\"name\":\"Shopper sh[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?fields=%3Adefault%2Cvelocity%2Cpoints%2Caccepted_points%2Ceffective_points&scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"7ddb47c381150f357a6f0658d69b979c\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["162"], "X-Vcap-Request-Id":["0bb5b126-d142-4214-58b1-38e28180671c"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"velocity\":10,\"points\":10,\"accepted_points\":0,\"effective_points\":10.0,\"number\":167,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66728000,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2017-01-03T23:49:51Z\",\"estimate\":1,\"story_type\":\"feature\",\"name\":\"Shopper should be able to remove product from shopping cart\",\"current_state\":\"rejected\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728000\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\[...]
