{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004?fields=%3Adefault%2Cpull_requests","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["728"], "ETag":["W/\"d8502383608d12d511d24d83e41e7948\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":66728004,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2021-04-23T21:23:18Z\",\"story_type\":\"bug\",\"name\":\"Some product photos not scaled properly when browsing products+++++++++++++++++++++++++++\",\"description\":\"++++++++++++++++\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728004\",\"project_id\":1027488,\"owner_ids\":[1266314,1266316],\"labels\":[{\"id\":11049870,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"label2\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"},{\"id\":14060665,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"super-special-label\",\"created_at\":\"2016-02-12T23:45:13Z\",\"updated_at\":\"2016-02-12T23:45:13Z\"}],\"pull_requests\":[{\"id\":1606521,\"kind\":\"pull_request\",\"story_id\":66728004,\"owner\":\"ProductPlan\",\"repo\":\"tracker_api\",\"host_url\":\"https://github.com/\",\"original_url\":\"https://github.com/ProductPlan/tracker_api/pull/148\",\"status\":\"unknown\",\"number\":148,\"created_at\":\"2021-04-23T21:23:18Z\",\"updated_at\":\"2021-04-23T21:23:18Z\"}],\"owned_by_id\":1266314}"}},"recorded_at":"Fri, 23 Apr 2021 21:44:02 GMT"}],"recorded_with":"VCR 6.0.0"}