{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/activity","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["47"], "X-Tracker-Pagination-Total":["43"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Returned":["43"], "ETag":["\"96fee8afbb38becc2e0244a39c409b60\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story_update_activity\",\"guid\":\"1027488_47\",\"project_version\":47,\"message\":\"Tracker API User1 edited this feature\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":86045094,\"original_values\":{\"name\":\"Test story\",\"updated_at\":\"2015-01-13T19:16:04Z\"},\"new_values\":{\"name\":\"Test story+\",\"updated_at\":\"2015-01-27T21:28:26Z\"},\"name\":\"Test story+\",\"story_type\":\"feature\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":86045094,\"name\":\"Test story+\",\"story_type\":\"feature\",\"url\":\"https://www.pivotaltracker.com/story/show/86045094\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2015-01-27T21:28:26Z\"},{\"kind\":\"story_update_activity\",\"guid\":\"1027488_46\",\"project_version\":46,\"message\":\"Tracker API User2 edited this feature\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":82330712,\"original_values\":{\"owner_ids\":[1266316],\"updated_at\":\"2015-01-27T00:35:24Z\"},\"new_values\":{\"owner_ids\":[1266316,1266314],\"updated_at\":\"2015-01-27T00:35:58Z\"},\"name\":\"Test story\",\"story_type\":\"feature\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":82330712,\"name\":\"Test story\",\"story_type\":\"feature\",\"url\":\"https://www.pivotaltracker.com/story/show/82330712\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266316,\"name\":\"Tracker API User2\",\"initials\":\"TU2\"},\"occurred_at\":\"2015-01-27T00:35:58Z\"},{\"kind\":\"story_update_activity\",\"guid\":\"1027488_45\",\"project_version\":45,\"message\":\"Tracker API User2 finished this feature\",\"highlight\":\"finished\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":82330186,\"original_values\":{\"current_state\":\"started\",\"updated_at\":\"2015-01-27T00:35:33Z\"},\"new_values\":{\"current_state\":\"finished\",\"updated_at\":\"2015-01-27T00:35:36Z\"},\"name\":\"Test story\",\"story_type\":\"feature\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":82330186,\"name\":\"Test story\",\"story_type\":\"feature\",\"url\":\"https://www.pivotaltracker.com/story/show/82330186\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":12663[...]
