{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-project-version":["1"], "etag":["\"b7929dd9d79159714ee85b3c70fe1d79\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"finish\": \"2014-03-24T07:00:00Z\",\n    \"kind\": \"iteration\",\n    \"stories\": [\n      {\n        \"name\": \"Shopper should be able to view contents of shopping cart\",\n        \"story_type\": \"feature\",\n        \"requested_by_id\": 1266314,\n        \"kind\": \"story\",\n        \"created_at\": \"2014-02-17T00:00:00Z\",\n        \"labels\": [\n          {\n            \"name\": \"cart\",\n            \"kind\": \"label\",\n            \"created_at\": \"2014-03-02T07:11:05Z\",\n            \"updated_at\": \"2014-03-02T07:11:05Z\",\n            \"id\": 7849086,\n            \"project_id\": 1027488\n          },\n          {\n            \"name\": \"shopping\",\n            \"kind\": \"label\",\n            \"created_at\": \"2014-03-02T07:11:04Z\",\n            \"updated_at\": \"2014-03-02T07:11:04Z\",\n            \"id\": 7849082,\n            \"project_id\": 1027488\n          }\n        ],\n        \"current_state\": \"delivered\",\n        \"updated_at\": \"2014-03-02T07:11:05Z\",\n        \"id\": 66727998,\n        \"project_id\": 1027488,\n        \"owner_ids\": [\n\n        ],\n        \"url\": \"http://www.pivotaltracker.com/story/show/66727998\",\n        \"estimate\": 2,\n        \"description\": \"Cart icon in top right corner, with a number indicating how many items in cart\"\n      },\n      {\n        \"name\": \"Shopper should be able to remove product from shopping cart\",\n        \"story_type\": \"feature\",\n        \"requested_by_id\": 1266314,\n        \"kind\": \"story\",\n        \"created_at\": \"2014-02-17T00:00:00Z\",\n        \"labels\": [\n          {\n            \"name\": \"cart\",\n            \"kind\": \"label\",\n            \"created_at\": \"2014-03-02T07:11:05Z\[...]
