{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/history/iterations/283/days","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["W/\"28d10f48867d1b3680a81a878bd4ba4e\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["588"], "X-Vcap-Request-Id":["e0e3defe-a75c-4b64-4a3e-7ad525b12a01"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"daily_history_container\",\"header\":[\"date\",\"points_accepted\",\"points_delivered\",\"points_finished\",\"points_started\",\"points_rejected\",\"points_planned\",\"points_unstarted\",\"points_unscheduled\",\"counts_accepted\",\"counts_delivered\",\"counts_finished\",\"counts_started\",\"counts_rejected\",\"counts_planned\",\"counts_unstarted\",\"counts_unscheduled\"],\"data\":[[\"2019-07-09\",0.0,2.0,2.0,3.0,1.0,0.0,1.0,0.0,0,1,2,3,1,0,3,0]]}"},"http_version":null},"recorded_at":"Wed, 10 Jul 2019 04:20:05 GMT"}],"recorded_with":"VCR 5.0.0"}