{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194/comments","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["709"], "ETag":["W/\"10d2ff6cdbb20984aa55994579191f67\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"comment\",\"id\":222404217,\"epic_id\":4737194,\"text\":\"Test creating a comment++\",\"person_id\":1266314,\"created_at\":\"2021-03-03T08:41:25Z\",\"updated_at\":\"2021-03-03T09:21:04Z\"},{\"kind\":\"comment\",\"id\":222404225,\"epic_id\":4737194,\"text\":\"Test creating a comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T08:41:32Z\",\"updated_at\":\"2021-03-03T08:41:32Z\"},{\"kind\":\"comment\",\"id\":222404226,\"epic_id\":4737194,\"text\":\"test comment\",\"person_id\":1266314,\"created_at\":\"2021-03-03T08:41:32Z\",\"updated_at\":\"2021-03-03T08:41:32Z\"},{\"kind\":\"comment\",\"id\":222404508,\"epic_id\":4737194,\"text\":\"test comment\",\"[...]
