{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=done&offset=-12","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["3"], "x-tracker-pagination-total":["12"], "x-tracker-pagination-offset":["-12"], "x-tracker-pagination-limit":["10"], "x-tracker-pagination-returned":["10"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"kind\": \"iteration\",\n    \"number\": 1,\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"stories\": [\n      {\n        \"kind\": \"story\",\n        \"id\": 66727974,\n        \"project_id\": 1027488,\n        \"name\": \"Setup development environment\",\n        \"description\": \"We need 2 machines set up\",\n        \"story_type\": \"chore\",\n        \"current_state\": \"accepted\",\n        \"accepted_at\": \"2014-02-11T00:00:00Z\",\n        \"requested_by_id\": 1266314,\n        \"owner_ids\": [\n\n        ],\n        \"labels\": [\n\n        ],\n        \"created_at\": \"2014-02-10T00:00:00Z\",\n        \"updated_at\": \"2014-03-02T07:11:04Z\",\n        \"url\": \"http://www.pivotaltracker.com/story/show/66727974\"\n      },\n      {\n        \"kind\": \"story\",\n        \"id\": 66727976,\n        \"project_id\": 1027488,\n        \"name\": \"Setup demo server\",\n        \"description\": \"Should be accessible from outside the network, with basic auth\",\n        \"story_type\": \"chore\",\n        \"current_state\": \"accepted\",\n        \"accepted_at\": \"2014-02-11T00:00:00Z\",\n        \"requested_by_id\": 1266314,\n        \"owner_ids\": [\n\n        ],\n        \"labels\": [\n          {\n            \"kind\": \"label\",\n            \"id\": 7849078,\n            \"project_id\": 1027488,\n            \"name\": \"deployment\",\n            \"created_at\": \"2014-03-02T07:11:04Z\",\n            \"updated_at\": \"2014-03-02T07:11:04Z\"\n          }\n        ],\n        \"created_at\": \"2014-02-10T00:00:00Z\",\n        \"updated_at\": \"2014-03-02T07:11:04Z\",\n        \"url\": \"http://www.pivotaltracker.com/story/show/66727976\"\n      },\n      {\n        \"kind\": \"story\",\n        \"id\": 66727978,\n        \"project_id\": 1027488,\n        \"name\": \"Admin should be able to login\",\n        \"description\": \"Admin should be a special user type. We can create the first admin user directly in the DB, but let's encrypt the password.\",\n        \"story_type\": \"feature\",\n        \"current_state\": \"accepted\",\n        \"estimate\": 2,\n        \"accepted_at\": \"2014-02-11T00:00:00Z\",\n        \"requested_by_id\": 1266314,\n        \"owner_ids\": [\n\n        ],\n        \"labels\": [\n          {\n            \"kind\": \"label\",\n            \"id\": 7849080,\n            \"project_id\": 1027488,\n            \"name\": \"admin\",\n            \"created_at\": \"2014-03-02T07:11:04Z\",\n            \"updated_at\": \"2014-03-02T07:11:04Z\"\n          }\n        ],\n        \"created_at\": \"2014-02-10T00:00:00Z\",\n       [...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=done&offset=-2&limit=10","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["3"], "x-tracker-pagination-total":["12"], "x-tracker-pagination-offset":["-2"], "x-tracker-pagination-limit":["10"], "x-tracker-pagination-returned":["2"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"kind\": \"iteration\",\n    \"number\": 11,\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"stories\": [\n\n    ],\n    \"start\": \"2014-04-21T07:00:00Z\",\n    \"finish\": \"2014-04-28T07:00:00Z\"\n  },\n  {\n    \"kind\": \"iteration\",\n    \"number\": 12,\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"stories\": [\n\n    ],\n    \"start\": \"2014-04-28T07:00:00Z\",\n    \"finish\": \"2014-05-05T07:00:00Z\"\n  }\n]"},"http_version":null},"recorded_at":"Wed, 07 May 2014 04:50:19 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?offset=-12&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["25"], "X-Tracker-Pagination-Total":["40"], "X-Tracker-Pagination-Offset":["-12"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Returned":["10"], "ETag":["\"0162a33a88aa973767421a70ebbeccab\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"kind\": \"iteration\",\n    \"number\": 29,\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"stories\": [\n\n    ],\n    \"start\": \"2014-08-25T07:00:00Z\",\n    \"finish\": \"2014-09-01T07:00:00Z\"\n  },\n  {\n    \"kind\": \"iteration\",\n    \"number\": 30,\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"stories\": [\n\n    ],\n    \"start\": \"2014-09-01T07:00:00Z\",\n    \"finish\": \"2014-09-08T07:00[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=10&offset=-2&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["25"], "X-Tracker-Pagination-Total":["40"], "X-Tracker-Pagination-Offset":["-2"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Returned":["2"], "ETag":["\"03e2871bc22bb1cb39066ebb5b505b3c\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"kind\": \"iteration\",\n    \"number\": 39,\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"stories\": [\n\n    ],\n    \"start\": \"2014-11-03T08:00:00Z\",\n    \"finish\": \"2014-11-10T08:00:00Z\"\n  },\n  {\n    \"kind\": \"iteration\",\n    \"number\": 40,\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"stories\": [\n\n    ],\n    \"start\": \"2014-11-10T08:00:00Z\",\n    \"finish\": \"2014-11-17T08:00:00Z\"\n  }\n]"},"http_version":null},"recorded_at":"Mon, 17 Nov 2014 19:02:23 GMT"}],"recorded_with":"VCR 2.9.3"}