{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1&offset=1","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["75"], "X-Tracker-Pagination-Offset":["1"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Returned":["1"], "ETag":["\"ef355a3142cb6e62c74f3f4eb4da42b4\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"iteration\",\"number\":2,\"project_id\":1027488,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66727984,\"project_id\":1027488,\"name\":\"Admin should be able to upload multiple product photos and mark one as the primary\",\"story_type\":\"feature\",\"current_state\":\"accepted\",\"estimate\":3,\"accepted_at\":\"2014-02-18T00:00:00Z\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":7849080,\"project_id\":1027488,\"name\":\"admin\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}],\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66727984\"},{\"kind\":\"story\",\"id\":66727986,\"project_id\":1027488,\"name\":\"Shopper should see list of products, with primary photo as thumbnail\",\"story_type\":\"feature\",\"current_state\":\"accepted\",\"estimate\":2,\"accepted_at\":\"2014-02-18T00:00:00Z\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":7849082,\"project_id\":1027488,\"name\":\"shopping\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["75"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Returned":["1"], "ETag":["\"1dd0765269242bdc833cda801ea488da\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"iteration\",\"number\":1,\"project_id\":1027488,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66727974,\"project_id\":1027488,\"name\":\"Setup development environment\",\"description\":\"We need 2 machines set up\",\"story_type\":\"chore\",\"current_state\":\"accepted\",\"accepted_at\":\"2014-02-11T00:00:00Z\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[],\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66727974\"},{\"kind\":\"story\",\"id\":66727976,\"project_id\":1027488,\"name\":\"Setup demo server\",\"description\":\"Should be accessible from outside the network, with basic auth[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1&offset=9999","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["75"], "X-Tracker-Pagination-Offset":["9999"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Returned":["0"], "ETag":["\"d751713988987e9331980363e24189ce\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:05:56 GMT"}],"recorded_with":"VCR 2.9.3"}