{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?offset=-12&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"ad05ccc328e6761207cf2d570fdb7529\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["-12"], "X-Tracker-Pagination-Returned":["10"], "X-Tracker-Pagination-Total":["168"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["ec7a6adb-ee72-4c92-7011-e08e08c98896"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"number\":157,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-02-06T08:00:00Z\",\"finish\":\"2017-02-13T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":158,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-02-13T08:00:00Z\",\"finish\":\"2017-02-20T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":159,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-02-20T08:00:00Z\",\"finish\":\"2017-02-27T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":160,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-02-27T08:00:00Z\"[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=10&offset=-2&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"55a7ce9b99a9ba49620d7391e4a1848b\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["-2"], "X-Tracker-Pagination-Returned":["2"], "X-Tracker-Pagination-Total":["168"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["c11c8aea-1a96-44aa-5538-a3823264ab8e"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"number\":167,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-04-17T07:00:00Z\",\"finish\":\"2017-04-24T07:00:00Z\",\"kind\":\"iteration\"},{\"number\":168,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2017-04-24T07:00:00Z\",\"finish\":\"2017-05-01T07:00:00Z\",\"kind\":\"iteration\"}]"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:50 GMT"}],"recorded_with":"VCR 2.9.3"}