{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?with_state=unscheduled","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-project-version":["1"], "x-tracker-pagination-offset":["0"], "etag":["\"a514b80d7c48f36d9ab4109709ca7e31\""], "x-tracker-pagination-returned":["4"], "x-tracker-pagination-total":["4"], "x-tracker-pagination-limit":["100"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"name\": \"Product browsing pagination not working in IE6\",\n    \"kind\": \"story\",\n    \"project_id\": 1027488,\n    \"id\": 66728084,\n    \"owner_ids\": [\n\n    ],\n    \"current_state\": \"unscheduled\",\n    \"updated_at\": \"2014-03-02T07:11:07Z\",\n    \"created_at\": \"2014-02-17T00:00:00Z\",\n    \"requested_by_id\": 1266314,\n    \"labels\": [\n      {\n        \"name\": \"ie6\",\n        \"kind\": \"label\",\n        \"project_id\": 1027488,\n        \"id\": 7849110,\n        \"updated_at\": \"2014-03-02T07:11:07Z\",\n        \"created_at\": \"2014-03-02T07:11:07Z\"\n      }\n    ],\n    \"url\": \"https://www.pivotaltracker.com/story/show/66728084\",\n    \"story_type\": \"bug\"\n  },\n  {\n    \"name\": \"Integrate with automated order fullfillment system\",\n    \"kind\": \"story\",\n    \"project_id\": 1027488,\n    \"id\": 66728086,\n    \"owner_ids\": [\n\n    ],\n    \"current_state\": \"unscheduled\",\n    \"updated_at\": \"2014-03-02T07:11:07Z\",\n    \"created_at\": \"2014-02-17T00:00:00Z\",\n    \"requested_by_id\": 1266314,\n    \"labels\": [\n\n    ],\n    \"url\": \"https://www.pivotaltracker.com/story/show/66728086\",\n    \"story_type\": \"featur[...]
