{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?offset=-12&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["104"], "X-Tracker-Project-Version":["107"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["-12"], "ETag":["\"1e6d0087ba03e9660fd962ae7bcee06b\""], "X-Tracker-Pagination-Returned":["10"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"number\":93,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-11-16T08:00:00Z\",\"finish\":\"2015-11-23T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":94,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-11-23T08:00:00Z\",\"finish\":\"2015-11-30T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":95,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-11-30T08:00:00Z\",\"finish\":\"2015-12-07T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":96,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-12-07T08:00:00Z\",\"[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=10&offset=-2&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["104"], "X-Tracker-Project-Version":["107"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["-2"], "ETag":["\"bb255a7e0bd7e4d77948144b250ec69f\""], "X-Tracker-Pagination-Returned":["2"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"number\":103,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2016-01-25T08:00:00Z\",\"finish\":\"2016-02-01T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":104,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2016-02-01T08:00:00Z\",\"finish\":\"2016-02-08T08:00:00Z\",\"kind\":\"iteration\"}]"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:28 GMT"}],"recorded_with":"VCR 2.9.3"}