{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/my/notifications","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"1e6ae1ddb4189a1a6bdf060a51acc4a4\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Last-Notification-Timestamp":["1493854445000"], "X-Vcap-Request-Id":["9c757dac-96e7-4e08-72aa-bfccf8c11600"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"notification\",\"id\":343759627,\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performer\":{\"kind\":\"person\",\"id\":1266316,\"name\":\"Tracker API User2\"},\"message\":\"You were mentioned by Tracker API User2\",\"context\":\"@trackerapi1 yo.\",\"notification_type\":\"comment_with_mention\",\"new_attachment_count\":0,\"action\":\"create\",\"story\":{\"kind\":\"story\",\"id\":66728014,\"name\":\"Shopper should be able to enter credit card information and shipping address\"},\"comment_id\":170363537,\"created_at\":\"2017-05-03T23:34:05Z\",\"updated_at\":\"2017-05-03T23:34:05Z\"}]"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:34:47 GMT"}],"recorded_with":"VCR 2.9.3"}