{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?with_state=unscheduled","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"f7c5d01200edc999bc3b29d32bfc6c6f\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["12"], "X-Tracker-Pagination-Total":["12"], "X-Tracker-Project-Version":["233"], "X-Vcap-Request-Id":["b246a3b9-cf41-4bb1-5493-e0939d637616"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":144829697,\"created_at\":\"2017-05-03T23:23:32Z\",\"updated_at\":\"2017-05-03T23:29:40Z\",\"story_type\":\"feature\",\"name\":\"Test story++\",\"description\":\"Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test [...]
