{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/my/workspaces/581707?fields=%3Adefault%2Cprojects%28id%2Cname%29","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["ab4c5895f57995bb7547986eacf91160"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"4df6da31f198f5941fc271ef908a519d\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["2"], "X-Vcap-Request-Id":["1d7348ee-6698-41bc-6415-7e924102c91d"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":581707,\"kind\":\"workspace\",\"name\":\"Multi-Project Workspace\",\"person_id\":1266316,\"projects\":[{\"id\":1027488,\"name\":\"My Sample Project\"},{\"id\":1027492,\"name\":\"My Sample Project\"}]}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:30:03 GMT"}],"recorded_with":"VCR 2.9.3"}