{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects?fields=%3Adefault%2Caccount%2Ccurrent_velocity%2Clabels%28name%29%2Cepics%28%3Adefault%2Clabel%28name%29%29","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "ETag":["\"873860f077b21942432752aa506e7dbe\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"id\":1027488,\"kind\":\"project\",\"name\":\"My Sample Project\",\"version\":107,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"profile_content\":\"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":false,\"atom_enabled\":false,\"project_type\":\"demo\",\"start_time\":\"2014-02-10T08:00:00Z\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"epics\":[{\"id\":1087314,\"kind\":\"epic\",\"created_at\":\"2014-03-02T07:11:07Z\",\"updated_at\":\"2014-03-02T07:11:07Z\",\"project_id\":1027488,\"name\":\"Admin Users\",\"description\":\"Get the Admin users working on the site\",\"url\":\"https://www.pivotaltracker.com/epic/show/1087314\",\"label\":{\"id\":7849080,\"name\":\"admin\"}},{\"id\":1087316,\"kind\":\"epic\",\"created_at\":\"2014-03-02T07:11:07Z\",\"updated_at\":\"2014-03-02T07:11:07Z\",\"project_id\":1027488,\"name\":\"Shoppers\",\"description\":\"Allow shoppers to use the site\",\"url\":\"https://www.pivotaltracker.com/epic/show/1087316\",\"label\":{\"id\":7849082,\"name\":\"shopping\"}}],\"labels\":[{\"id\":7849080,\"name\":\"admin\"},{\"id\":7849106,\"name\":\"blog\"},{\"id\":7849086,\"name\":\"cart\"},{\"id\":7849090,\"name\":\"checkout\"},{\"id\":7849078,\"name\":\"deployment\"},{\"id\":7849100,\"name\":\"design\"},{\"id\":7849112,\"name\":\"epic\"},{\"id\":7849104,\"name\":\"featured products\"},{\"id\":7849110,\"name\":\"ie6\"},{\"id\":11049868,\"name\":\"label1\"},{\"id\":11049870,\"name\":\"label2\"},{\"id\":7849092,\"name\":\"needs discussion\"},{\"id\":7849094,\"name\":\"orders\"},{\"id\":7849108,\"name\":\"reporting\"},{\"id\":7849088,\"name\":\"search\"},{\"id\":7849098,\"name\":\"shopper accounts\"},{\"id\":7849082,\"name\":\"shopping\"},{\"id\":7849096,\"name\":\"signup / signin\"},{\"id\":14060665,\"name\":\"super-special-label\"},{\"id\":7849084,\"name\":\"usability\"},{\"id\":7849102,\"name\":\"user generated content\"}],\"account\":{\"kind\":\"account_summary\",\"id\":621384,\"name\":\"Trackher User1\",\"status\":\"active\",\"plan\":\"Free\"},\"account_id\":621384,\"current_iteration_number\":105,\"current_velocity\":10,\"enable_following\":true}]"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:30 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects//epics","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"code\":\"unfound_resource\",\"kind\":\"error\",\"error\":\"The object you tried to access could not be found.  It may have been removed by another user, you may be using the ID of another object type, or you may be trying to access a sub-resource at the wrong point in a tree.\"}"},"http_version":null},"recorded_at":"Mon, 15 Feb 2016 19:50:24 GMT"}],"recorded_with":"VCR 2.9.3"}