{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=done&offset=-12","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-project-version":["1"], "x-tracker-pagination-offset":["-12"], "etag":["\"5f632dec8cf809f0b82e3f7f5d91a801\""], "x-tracker-pagination-returned":["5"], "x-tracker-pagination-limit":["10"], "x-tracker-pagination-total":["5"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"number\": 1,\n    \"kind\": \"iteration\",\n    \"finish\": \"2014-02-17T08:00:00Z\",\n    \"project_id\": 1027488,\n    \"start\": \"2014-02-10T08:00:00Z\",\n    \"stories\": [\n      {\n        \"name\": \"Setup development environment\",\n        \"kind\": \"story\",\n        \"description\": \"We need 2 machines set up\",\n        \"accepted_at\": \"2014-02-11T00:00:00Z\",\n        \"id\": 66727974,\n        \"project_id\": 1027488,\n        \"current_state\": \"accepted\",\n        \"owner_ids\": [\n\n        ],\n        \"created_at\": \"2014-02-10T00:00:00Z\",\n        \"updated_at\": \"2014-03-02T07:11:04Z\",\n        \"requested_by_id\": 1266314,\n        \"labels\": [\n\n        ],\n        \"story_type\": \"chore\",\n        \"url\": \"http://www.pivotaltracker.com/story/show/66727974\"\n      },\n      {\n        \"name\": \"Setup demo server\",\n        \"kind\": \"story\",\n        \"description\": \"Should be accessible from outside the network, with basic auth\",\n        \"accepted_at\": \"2014-02-11T00:00:00Z\",\n        \"id\": 66727976,\n        \"project_id\": 1027488,\n        \"current_state\": \"accepted\",\n        \"owner_ids\": [\n\n        ],\n        \"created_at\": \"2014-02-10T00:00:00Z\",\n        \"upd[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=done&offset=-2&limit=10","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-project-version":["1"], "etag":["\"51a5cfa5e8178d503dae6cbebd78e856\""], "x-tracker-pagination-total":["6"], "x-tracker-pagination-returned":["2"], "x-tracker-pagination-offset":["-2"], "x-tracker-pagination-limit":["10"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"project_id\": 1027488,\n    \"kind\": \"iteration\",\n    \"start\": \"2014-03-10T07:00:00Z\",\n    \"team_strength\": 1,\n    \"finish\": \"2014-03-17T07:00:00Z\",\n    \"number\": 5,\n    \"stories\": [\n\n    ]\n  },\n  {\n    \"project_id\": 1027488,\n    \"kind\": \"iteration\",\n    \"start\": \"2014-03-17T07:00:00Z\",\n    \"team_strength\": 1,\n    \"finish\": \"2014-03-24T07:00:00Z\",\n    \"number\": 6,\n    \"stories\": [\n\n    ]\n  }\n]"},"http_version":null},"recorded_at":"Tue, 25 Mar 2014 06:18:53 GMT"}],"recorded_with":"VCR 2.8.0"}