{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/my/activity?fields=%3Adefault","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["31"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Returned":["31"], "ETag":["\"d9d5a6007e9737be171cdb6e8d931b80\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story_update_activity\",\"guid\":\"1027488_65\",\"project_version\":65,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"name\":\"Some product photos not scaled properly when browsing products++\",\"updated_at\":\"2015-06-24T20:52:51Z\"},\"new_values\":{\"name\":\"Some product photos not scaled properly when browsing products+++\",\"updated_at\":\"2015-06-24T21:05:38Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2015-06-24T21:05:38Z\"},{\"kind\":\"story_update_activity\",\"guid\":\"1027488_64\",\"project_version\":64,\"message\":\"Tracker API User1 edited this feature\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":97751110,\"original_values\":{\"name\":\"Test story\",\"updated_at\":\"2015-06-24T18:03:56Z\"},\"new_values\":{\"name\":\"Test story+\",\"updated_at\":\"2015-06-24T21:05:37Z\"},\"name\":\"Test story+\",\"story_type\":\"feature\"}],\"primary_reso[...]
