{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/activity","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Returned":["10"], "ETag":["\"5ac5fc177c90bc8c3582b5806ca2d146\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story_update_activity\",\"guid\":\"1027488_65\",\"project_version\":65,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"name\":\"Some product photos not scaled properly when browsing products++\",\"updated_at\":\"2015-06-24T20:52:51Z\"},\"new_values\":{\"name\":\"Some product photos not scaled properly when browsing products+++\",\"updated_at\":\"2015-06-24T21:05:38Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2015-06-24T21:05:38Z\"},{\"kind\":\"story_update_activity\",\"guid\":\"1027488_63\",\"project_version\":63,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"name\":\"Some product photos not scaled properly when browsing products+\",\"updated_at\":\"2015-06-24T18:04:04Z\"},\"new_values\":{\"name\":\"Some product photos not scaled properly when browsing products++\",\"updated_at\":\"2015-06-24T20:52:51Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2015-06-24T20:52:51Z\"},{\"kind\":\"task_create_activity\",\"guid\":\"1027488_62\",\"project_version\":62,\"message\":\"Tracker API User1 added task: \\\"Test task\\\"\",\"highlight\":\"added task:\",\"changes\":[{\"kind\":\"task\",\"change_type\":\"create\",\"id\":33341356,\"new_values\":{\"id\":33341356,\"story_id\":66728004,\"description\":\"Test task\",\"complete\":false,\"position\":3,\"created_at\":\"2015-06-24T18:04:04Z\",\"updated_at\":\"2015-06-24T18:04:04Z\"}},{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"updated_at\":\"2015-06-09T21:24:28Z\"},\"new_values\":{\"updated_at\":\"2015-06-24T18:04:04Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++\",\"story_t[...]
