{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728018","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["31"], "ETag":["\"42102f796d1d9ea683e76483cee6f0ba\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"{\"kind\":\"story\",\"id\":66728018,\"project_id\":1027488,\"name\":\"When shopper submits order, authorize total product amount from payment gateway\",\"story_type\":\"feature\",\"current_state\":\"unstarted\",\"estimate\":3,\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":7849090,\"project_id\":1027488,\"name\":\"checkout\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"kind\":\"label\",\"id\":7849092,\"project_id\":1027488,\"name\":\"needs discussion\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"kind\":\"label\",\"id\":7849082,\"project_id\":1027488,\"name\":\"shopping\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}],\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:05Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66728018\"}"},"http_version":null},"recorded_at":"Sun, 18 Jan 2015 18:50:48 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728018/activity","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["31"], "X-Tracker-Pagination-Total":["0"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Returned":["0"], "ETag":["\"d751713988987e9331980363e24189ce\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sun, 18 Jan 2015 18:50:49 GMT"}],"recorded_with":"VCR 2.9.3"}