{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["3"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"kind\": \"iteration\",\n    \"number\": 13,\n    \"project_id\": 1027488,\n    \"team_strength\": 1,\n    \"stories\": [\n      {\n        \"kind\": \"story\",\n        \"id\": 66727998,\n        \"project_id\": 1027488,\n        \"name\": \"Shopper should be able to view contents of shopping cart\",\n        \"description\": \"Cart icon in top right corner, with a number indicating how many items in cart\",\n        \"story_type\": \"feature\",\n        \"current_state\": \"delivered\",\n        \"estimate\": 2,\n        \"requested_by_id\": 1266314,\n        \"owner_ids\": [\n\n        ],\n        \"labels\": [\n          {\n            \"kind\": \"label\",\n            \"id\": 7849086,\n            \"project_id\": 1027488,\n            \"name\": \"cart\",\n            \"created_at\": \"2014-03-02T07:11:05Z\",\n            \"updated_at\": \"2014-03-02T07:11:05Z\"\n          },\n          {\n            \"kind\": \"label\",\n            \"id\": 7849082,\n            \"project_id\": 1027488,\n            \"name\": \"shopping\",\n            \"created_at\": \"2014-03-02T07:11:04Z\",\n            \"updated_at\": \"2014-03-02T07:11:04Z\"\n          }\n        ],\n        \"created_at\": \"2014-02-17T00:00:00Z\",\n        \"updated_at\": \"2014-03-02T07:11:05Z\",\n        \"url\": \"http://www.pivotaltracker.com/story/show/66727998\"\n      },\n      {\n        \"kind\": \"story\",\n        \"id\": 66728000,\n        \"project_id\": 1027488,\n        \"name\": \"Shopper should be able to remove product from shopping cart\",\n        \"story_type\": \"feature\",\n        \"current_state\": \"delivered\",\n        \"estimate\": 1,\n        \"requested_by_id\": 1266314,\n        \"owner_ids\": [\n\n        ],\n        \"labels\": [\n          {\n            \"kind\": \"labe[...]
