{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/labels","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"09b7b80839393f41a467e3262507852b\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["ff9ea1d8-1ae5-4373-75bc-fef0502fbdff"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"label\",\"id\":7849080,\"project_id\":1027488,\"name\":\"admin\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"},{\"kind\":\"label\",\"id\":7849106,\"project_id\":1027488,\"name\":\"blog\",\"created_at\":\"2014-03-02T07:11:06Z\",\"updated_at\":\"2014-03-02T07:11:06Z\"},{\"kind\":\"label\",\"id\":7849086,\"project_id\":1027488,\"name\":\"cart\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"},{\"kind\":\"label\",\"id\":7849090,\"project_id\":1027488,\"name\":\"checkout\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"}[...]
