{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/transitions","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["0"], "X-Tracker-Pagination-Total":["0"], "X-Tracker-Project-Version":["156"], "X-Vcap-Request-Id":["c8390582-7a35-455d-5fa6-95b7b59b3fc3"]},"body":{"encoding":"ASCII-8BIT","string":"[]"},"http_version":null},"recorded_at":"Mon, 02 Jan 2017 22:14:56 GMT"}],"recorded_with":"VCR 3.0.3"}