{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200 OK"], "x-tracker-project-version":["3"]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"id\": 1087314,\n    \"kind\": \"epic\",\n    \"created_at\": \"2014-03-02T07:11:07Z\",\n    \"updated_at\": \"2014-03-02T07:11:07Z\",\n    \"project_id\": 1027488,\n    \"name\": \"Admin Users\",\n    \"description\": \"Get the Admin users working on the site\",\n    \"url\": \"http://www.pivotaltracker.com/epic/show/1087314\",\n    \"label\": {\n      \"id\": 7849080,\n      \"project_id\": 1027488,\n      \"kind\": \"label\",\n      \"name\": \"admin\",\n      \"created_at\": \"2014-03-02T07:11:04Z\",\n      \"updated_at\": \"2014-03-02T07:11:04Z\"\n    }\n  },\n  {\n    \"id\": 1087316,\n    \"kind\": \"epic\",\n    \"created_at\": \"2014-03-02T07:11:07Z\",\n    \"updated_at\": \"2014-03-02T07:11:07Z\",\n    \"project_id\": 1027488,\n    \"name\": \"Shoppers\",\n    \"description\": \"Allow shoppers to use the site\",\n    \"url\": \"http://www.pivotaltracker.com/epic/show/1087316\",\n    \"label\": {\n      \"id\": 7849082,\n      \"project_id\": 1027488,\n      \"kind\": \"label\",\n      \"name\": \"shopping\",\n      \"created_at\": \"2014-03-02T07:11:04Z\",\n      \"updated_at\": \"2014-03-02T07:11:04Z\"\n    }\n  }\n]"},"http_version":null},"recorded_at":"Wed, 07 May 2014 04:50:18 GMT"}],"recorded_with":"VCR 2.8.0"}