{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "etag":["\"dbf4aea2a2935eefffe4468d24191436\""], "x-tracker-project-version":["1"]},"body":{"encoding":"UTF-8","string":"{\n  \"created_at\": \"2014-03-02T07:11:04Z\",\n  \"version\": 1,\n  \"current_iteration_number\": 6,\n  \"updated_at\": \"2014-03-02T07:11:04Z\",\n  \"enable_following\": true,\n  \"time_zone\": {\n    \"offset\": \"-07:00\",\n    \"olson_name\": \"America/Los_Angeles\",\n    \"kind\": \"time_zone\"\n  },\n  \"point_scale_is_custom\": false,\n  \"account_id\": 621384,\n  \"atom_enabled\": false,\n  \"has_google_domain\": false,\n  \"start_time\": \"2014-02-10T08:00:00Z\",\n  \"number_of_done_iterations_to_show\": 12,\n  \"week_start_day\": \"Monday\",\n  \"id\": 1027488,\n  \"enable_tasks\": true,\n  \"bugs_and_chores_are_estimatable\": false,\n  \"point_scale\": \"0,1,2,3\",\n  \"public\": false,\n  \"enable_incoming_emails\": true,\n  \"profile_content\": \"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\n  \"velocity_averaged_over\": 3,\n  \"name\": \"My Sample Project\",\n  \"iteration_length\": 1,\n  \"kind\": \"project\",\n  \"initial_velocity\": 10,\n  \"enable_planned_mode\": false\n}"},"http_version":null},"recorded_at":"Sun, 23 Mar 2014 06:28:26 GMT"}],"recorded_with":"VCR 2.8.0"}