{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004?fields=%3Adefault%2Ctasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"80f3dc1c6ed42721d403a64851c4a28c\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["4590166f-0894-4dbc-6fdd-3a6bdb584c95"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":66728004,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2017-05-03T23:29:47Z\",\"story_type\":\"bug\",\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"description\":\"++++++++++\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728004\",\"project_id\":1027488,\"owner_ids\":[1266314,1266316],\"labels\":[{\"id\":11049868,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"label1\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"},{\"id\":11049870,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"label2\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"},{\"id\":14060665,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"super-special-label\",\"created_at\":\"2016-02-12T23:45:13Z\",\"updated_at\":\"2016-02-12T23:45:13Z\"}],\"tasks\":[{\"id\":22778038,\"kind\":\"task\",\"description\":\"Check unscaled++++\",\"complete\":true,\"story_id\":66728004,\"position\":1,\"created_at\":\"2014-06-02T12:44:52Z\",\"updated_at\":\"2017-05-03T23:23:50Z\"},{\"id\":32873326,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":2,\"created_at\":\"2015-06-09T21:24:28Z\",\"updated_at\":\"2015-06-09T21:24:28Z\"},{\"id\":33341356,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":3,\"created_at\":\"2015-06-24T18:04:04Z\",\"updated_at\":\"2015-06-24T18:04:04Z\"},{\"id\":33348986,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":4,\"created_at\":\"2015-06-24T21:05:50Z\",\"updated_at\":\"2015-06-24T21:05:50Z\"},{\"id\":40109803,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":5,\"created_at\":\"2016-02-13T23:35:36Z\",\"updated_at\":\"2016-02-13T23:35:36Z\"},{\"id\":43169605,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":6,\"created_at\":\"2016-05-24T22:29:45Z\",\"updated_at\":\"2016-05-24T22:29:45Z\"},{\"id\":43343935,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":7,\"created_at\":\"2016-05-31T22:11:29Z\",\"updated_at\":\"2016-05-31T22:11:29Z\"},{\"id\":55048237,\"kind\":\"task\",\"description\":\"Test task\",\"complete\":false,\"story_id\":66728004,\"position\":8,\"created_at\":\"2017-05-03T23:23:35Z\",\"updated_at\":\"2017-05-03T23:23:35Z\"}],\"owned_by_id\":1266314}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:52 GMT"}],"recorded_with":"VCR 2.9.3"}