{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects?fields=%3Adefault%2Caccount%2Ccurrent_velocity%2Clabels%28name%29%2Cepics%28%3Adefault%2Clabel%28name%29%29","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "etag":["\"0d122ab3cf93bd85140ffc95b445d705\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"created_at\": \"2014-03-02T07:11:04Z\",\n    \"version\": 1,\n    \"current_iteration_number\": 6,\n    \"account\": {\n      \"days_left\": 39,\n      \"id\": 621384,\n      \"status\": \"active\",\n      \"name\": \"Trackher User1\",\n      \"kind\": \"account_summary\"\n    },\n    \"updated_at\": \"2014-03-02T07:11:04Z\",\n    \"enable_following\": true,\n    \"time_zone\": {\n      \"offset\": \"-07:00\",\n      \"olson_name\": \"America/Los_Angeles\",\n      \"kind\": \"time_zone\"\n    },\n    \"point_scale_is_custom\": false,\n    \"account_id\": 621384,\n    \"epics\": [\n      {\n        \"created_at\": \"2014-03-02T07:11:07Z\",\n        \"label\": {\n          \"id\": 7849080,\n          \"name\": \"admin\"\n        },\n        \"description\": \"Get the Admin users working on the site\",\n        \"updated_at\": \"2014-03-02T07:11:07Z\",\n        \"url\": \"http://www.pivotaltracker.com/epic/show/1087314\",\n        \"project_id\": 1027488,\n        \"id\": 1087314,\n        \"name\": \"Admin Users\",\n        \"kind\": \"epic\"\n      },\n      {\n        \"created_at\": \"2014-03-02T07:11:07Z\",\n        \"label\": {\n          \"id\": 7849082,\n          \"name\": \"shopping\"\n        },\n        \"description\": \"Allow shoppers to use the site\",\n        \"updated_at\": \"2014-03-02T07:11:07Z\",\n        \"url\": \"http://www.pivotaltracker.com/epic/show/1087316\",\n        \"project_id\": 1027488,\n        \"id\": 1087316,\n        \"name\": \"Shoppers\",\n        \"kind\": \"epic\"\n      }\n    ],\n    \"labels\": [\n      {\n        \"id\": 7849080,\n        \"name\": \"admin\"\n      },\n      {\n        \"id\": 7849106,\n        \"name\": \"blog\"\n      },\n      {\n        \"id\": 7849086,\n        \"name\": \"cart\"\n      },\n      {\n        \"id\": 7849090,\n        \"name\": \"checkout\"\n      },\n      {\n        \"id\": 7849078,\n        \"name\": \"deployment\"\n      },\n      {\n        \"id\": 7849100,\n        \"name\": \"design\"\n      },\n      {\n        \"id\": 7849112,\n        \"name\": \"epic\"\n      },\n      {\n        \"id\": 7849104,\n        \"name\": \"featured products\"\n      },\n      {\n        \"id\": 7849110,\n        \"name\": \"ie6\"\n      },\n      {\n        \"id\": 7849092,\n        \"name\": \"needs discussion\"\n      },\n      {\n        \"id\": 7849094,\n        \"name\": \"orders\"\n      },\n      {\n        \"id\": 7849108,\n        \"name\": \"reporting\"\n      },\n      {\n        \"id\": 7849088,\n        \"name\": \"search\"\n      },\n      {\n        \"id\": 7849098,\n        \"name\": \"shopper accounts\"\n      },\n      {\n        \"id\": 7849082,\n        \"name\": \"shopping\"\n      },\n      {\n        \"id\": 7849096,\n        \"name\": \"signup / signin\"\n      },\n      {\n        \"id\": 7849084,\n        \"name\": \"usability\"\n      },\n      {\n        \"id\": 7849102,\n        \"name\": \"user generated content\"\n      }\n    ],\n    \"atom_enabled\": false,\n    \"has_google_domain\": false,\n    \"start_time\": \"2014-02-10T08:00:00Z\",\n    \"number_of_done_iterations_to_show\": 12,\n    \"week_start_day\": \"Monday\",\n    \"id\": 1027488,\n    \"enable_tasks\": true,\n    \"bugs_and_chores_are_estimatable\": false,\n    \"point_scale\": \"0,1,2,3\",\n    \"current_velocity\": 1,\n    \"public\": false,\n    \"enable_incoming_emails\": true,\n    \"profile_content\": \"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\n    \"velocity_averaged_over\": 3,\n    \"name\": \"My Sample Project\",\n    \"iteration_length\": 1,\n    \"kind\": \"project\",\n    \"initial_velocity\": 10,\n    \"enable_planned_mode\": false\n  }\n]"},"http_version":null},"recorded_at":"Sun, 23 Mar 2014 06:28:26 GMT"}],"recorded_with":"VCR 2.8.0"}