{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?offset=-12&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["71"], "X-Tracker-Pagination-Offset":["-12"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Returned":["10"], "ETag":["\"1bb59d4cb8107b225bd85cbb6ceb04d7\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"iteration\",\"number\":60,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-03-30T07:00:00Z\",\"finish\":\"2015-04-06T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":61,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-04-06T07:00:00Z\",\"finish\":\"2015-04-13T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":62,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-04-13T07:00:00Z\",\"finish\":\"2015-04-20T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":63,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-04-20T07:00:00Z\",\"finis[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=10&offset=-2&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "X-Tracker-Pagination-Total":["71"], "X-Tracker-Pagination-Offset":["-2"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Returned":["2"], "ETag":["\"191d708afd98790f96ff56664d04b59e\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"iteration\",\"number\":70,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-06-08T07:00:00Z\",\"finish\":\"2015-06-15T07:00:00Z\"},{\"kind\":\"iteration\",\"number\":71,\"project_id\":1027488,\"team_strength\":1,\"stories\":[],\"start\":\"2015-06-15T07:00:00Z\",\"finish\":\"2015-06-22T07:00:00Z\"}]"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:05:57 GMT"}],"recorded_with":"VCR 2.9.3"}