{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/my/workspaces?fields=%3Adefault%2Cprojects%28id%2Cname%29","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["ab4c5895f57995bb7547986eacf91160"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"a80576b5a281d7a36a8e3aada2cb8c7c\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Vcap-Request-Id":["e4fb6b48-667d-4a1a-6f0c-16daf96e4a2f"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"workspace\",\"projects\":[{\"id\":1027488,\"name\":\"My Sample Project\"},{\"id\":1027492,\"name\":\"My Sample Project\"}],\"id\":581707,\"name\":\"Multi-Project Workspace\",\"person_id\":1266316,\"project_ids\":[1027488,1027492]}]"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:38 GMT"}],"recorded_with":"VCR 2.9.3"}