{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?with_state=unscheduled","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["5"], "X-Tracker-Project-Version":["111"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "ETag":["\"f72fbcf8abd6e81f07da7cf1db199d67\""], "X-Tracker-Pagination-Returned":["5"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story\",\"id\":113692661,\"created_at\":\"2016-02-13T23:35:53Z\",\"updated_at\":\"2016-02-13T23:35:53Z\",\"story_type\":\"feature\",\"name\":\"Test story\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/113692661\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[]},{\"kind\":\"story\",\"id\":66728084,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2016-02-13T23:35:50Z\",\"story_type\":\"bug\",\"name\":\"Product browsing pagination not working in IE6++\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728084\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849110,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"ie6\",\"created_at\":\"2014-03-02T07:11:07Z\",\"u[...]
