{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-project-version":["1"], "etag":["\"fd893b81ac58cf4eb575d740e8475145\""]},"body":{"encoding":"UTF-8","string":"[\n  {\n    \"name\": \"Admin Users\",\n    \"kind\": \"epic\",\n    \"label\": {\n      \"name\": \"admin\",\n      \"kind\": \"label\",\n      \"created_at\": \"2014-03-02T07:11:04Z\",\n      \"updated_at\": \"2014-03-02T07:11:04Z\",\n      \"id\": 7849080,\n      \"project_id\": 1027488\n    },\n    \"created_at\": \"2014-03-02T07:11:07Z\",\n    \"updated_at\": \"2014-03-02T07:11:07Z\",\n    \"id\": 1087314,\n    \"url\": \"http://www.pivotaltracker.com/epic/show/1087314\",\n    \"project_id\": 1027488,\n    \"description\": \"Get the Admin users working on the site\"\n  },\n  {\n    \"name\": \"Shoppers\",\n    \"kind\": \"epic\",\n    \"label\": {\n      \"name\": \"shopping\",\n      \"kind\": \"label\",\n      \"created_at\": \"2014-03-02T07:11:04Z\",\n      \"updated_at\": \"2014-03-02T07:11:04Z\",\n      \"id\": 7849082,\n      \"project_id\": 1027488\n    },\n    \"created_at\": \"2014-03-02T07:11:07Z\",\n    \"updated_at\": \"2014-03-02T07:11:07Z\",\n    \"id\": 1087316,\n    \"url\": \"http://www.pivotaltracker.com/epic/show/1087316\",\n    \"project_id\": 1027488,\n    \"description\": \"Allow shoppers to use the site\"\n  }\n]"},"http_version":null},"recorded_at":"Sun, 23 Mar 2014 06:28:26 GMT"}],"recorded_with":"VCR 2.8.0"}