{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488?fields=%3Adefault%2Cepics%28%3Adefault%2Clabel%28name%29%29","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["0de3ac29f13082f0c16ed76f3f3f6895"]}},"response":{"status":{"code":200,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["200"], "x-tracker-project-version":["1"], "etag":["\"36004bb89c883ff022386d617b8edc8d\""]},"body":{"encoding":"UTF-8","string":"{\n  \"enable_following\": true,\n  \"atom_enabled\": false,\n  \"public\": false,\n  \"version\": 1,\n  \"account_id\": 621384,\n  \"enable_tasks\": true,\n  \"name\": \"My Sample Project\",\n  \"kind\": \"project\",\n  \"velocity_averaged_over\": 3,\n  \"profile_content\": \"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\n  \"enable_planned_mode\": false,\n  \"bugs_and_chores_are_estimatable\": false,\n  \"point_scale\": \"0,1,2,3\",\n  \"id\": 1027488,\n  \"current_iteration_number\": 6,\n  \"updated_at\": \"2014-03-02T07:11:04Z\",\n  \"created_at\": \"2014-03-02T07:11:04Z\",\n  \"enable_incoming_emails\": true,\n  \"has_google_domain\": false,\n  \"number_of_done_iterations_to_show\": 12,\n  \"epics\": [\n    {\n      \"name\": \"Admin Users\",\n      \"kind\": \"epic\",\n      \"description\": \"Get the Admin users working on the site\",\n      \"project_id\": 1027488,\n      \"id\": 1087314,\n      \"updated_at\": \"2014-03-02T07:11:07Z\",\n      \"created_at\": \"2014-03-02T07:11:07Z\",\n      \"url\": \"http://www.pivotaltracker.com/epic/show/1087314\",\n      \"label\": {\n        \"name\": \"admin\",\n        \"id\": 7849080\n      }\n    },\n    {\n      \"name\": \"Shoppers\",\n      \"kind\": \"epic\",\n      \"description\": \"Allow shoppers to use the site\",\n      \"project_id\": 1027488,\n      \"id\": 1087316,\n      \"updated_at\": \"2014-03-02T07:11:07Z\",\n      \"created_at\": \"2014-03-02T07:11:07Z\",\n      \"url\": \"http://www.pivotaltracker.com/epic/show/1087316\",\n      \"label\": {\n        \"name\": \"shopping\",\n        \"id\": 7849082\n      }\n    }\n  ],\n  \"start_time\": \"2014-02-10T08:00:00Z\",\n  \"iteration_length\": 1,\n  \"initial_velocity\": 10,\n  \"point_scale_is_custom\": false,\n  \"week_start_day\": \"Monday\",\n  \"time_zone\": {\n    \"kind\": \"time_zone\",\n    \"olson_name\": \"America/Los_Angeles\",\n    \"offset\": \"-07:00\"\n  }\n}"},"http_version":null},"recorded_at":"Sun, 23 Mar 2014 06:28:27 GMT"}],"recorded_with":"VCR 2.8.0"}