{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/owners","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["66"], "ETag":["\"2694c3642376e2adeda5f9cea6310da6\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"person\",\"id\":22778038,\"name\":\"John Smith\",\"email\":\"john.smith@example.org\",\"initials\":\"JS\",\"username\":\"john.smith\"},{\"kind\":\"person\",\"id\":32873326,\"name\":\"Jane Smith\",\"email\":\"jane.smith@example.org\",\"initials\":\"JaS\",\"username\":\"jane.smith\"}]"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:06:11 GMT"}],"recorded_with":"VCR 2.9.3"}
