{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/epics/4737194","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["705"], "ETag":["W/\"533c78c1f44f57a69022792057206e38\""], "X-Tracker-Client-Pinger-Interval":["20"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":4737194,\"kind\":\"epic\",\"created_at\":\"2021-03-03T08:35:42Z\",\"updated_at\":\"2021-03-03T09:21:04Z\",\"project_id\":1027488,\"name\":\"Test\",\"url\":\"https://www.pivotaltracker.com/epic/show/4737194\",\"label\":{\"id\":22934751,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"test\",\"created_at\":\"2021-03-03T08:35:42Z\",\"updated_at\":\"2021-03-03T08:35:42Z\"}}"}},"recorded_at":"Wed, 03 Mar 2021 09:21:51 GMT"}],"recorded_with":"VCR 6.0.0"}