{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?fields=name%2Cstory_type&with_state=unstarted","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"8eb726af8ddee94a6af7a3c0f8202432\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["39"], "X-Tracker-Pagination-Total":["39"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["f24ff0df-16b2-4533-671c-7fe589fe2d56"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"id\":124273751,\"story_type\":\"feature\",\"name\":\"New Cool Name\"},{\"id\":66728006,\"story_type\":\"feature\",\"name\":\"Shopper should be able to recommend a product to a friend\"},{\"id\":66728008,\"story_type\":\"chore\",\"name\":\"configure solr for full text searching\"},{\"id\":66728010,\"story_type\":\"feature\",\"name\":\"Shopper should be able to search for product\"},{\"id\":66728012,\"story_type\":\"release\",\"name\":\"Initial demo to investors\"},{\"id\":66728014,\"story_type\":\"feature\",\"name\":\"Shopper should be able to en[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/124273751/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["057aaf89-033a-4f88-4b06-bc374bfb3946"]},"body":{"encoding":"ASCII-8BIT","string":"[]"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:53 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728082/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["07938c2f-30ea-47c2-65cd-fb23c3e2ec28"]},"body":{"encoding":"ASCII-8BIT","string":"[]"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:30:01 GMT"}],"recorded_with":"VCR 2.9.3"}