{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?fields=name%2Cstory_type&with_state=unstarted","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["39"], "X-Tracker-Project-Version":["108"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "ETag":["\"949b6b2e75edbab6ad71dc2d1a8121f4\""], "X-Tracker-Pagination-Returned":["39"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"id\":66728006,\"story_type\":\"feature\",\"name\":\"Shopper should be able to recommend a product to a friend\"},{\"id\":66728008,\"story_type\":\"chore\",\"name\":\"configure solr for full text searching\"},{\"id\":66728010,\"story_type\":\"feature\",\"name\":\"Shopper should be able to search for product\"},{\"id\":66728012,\"story_type\":\"release\",\"name\":\"Initial demo to investors\"},{\"id\":66728014,\"story_type\":\"feature\",\"name\":\"Shopper should be able to enter credit card information and shipping address\"},{\"id\":66728016,\"s[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728006/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["108"], "ETag":["\"d751713988987e9331980363e24189ce\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:37 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728082/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["108"], "ETag":["\"d751713988987e9331980363e24189ce\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:48 GMT"}],"recorded_with":"VCR 2.9.3"}