{"http_interactions": [{"request": {"method": "get", "uri": "https://www.pivotaltracker.com/services/v5/projects/1027488/labels/5431", "body": {"encoding": "US-ASCII", "string": "" }, "headers": {"X-TrackerToken": ["d55c3bc1f74346b843ca84ba340b29bf" ]} }, "response": {"status": {"code": 404, "message": "Not Found" }, "headers": {"content-type": ["application/json; charset=utf-8" ], "status": ["404 Not Found" ], "x-tracker-client-pinger-interval": ["20" ]}, "body": {"encoding": "UTF-8", "string": "{\"code\":\"unfound_resource\",\"kind\":\"error\",\"error\":\"The object you tried to access could not be found.  It may have been removed by another user, you may be using the ID of another object type, or you may be trying to access a sub-resource at the wrong point in a tree.\"}" } }, "recorded_at": "Mon, 19 Aug 2024 18:30:34 GMT" }, {"request": {"method": "get", "uri": "https://www.pivotaltracker.com/services/v5/projects/1027488/labels/7849080", "body": {"encoding": "US-ASCII", "string": "" }, "headers": {"X-TrackerToken": ["d55c3bc1f74346b843ca84ba340b29bf" ]} }, "response": {"status": {"code": 200, "message": "OK" }, "headers": {"content-type": ["application/json; charset=utf-8" ], "status": ["200 OK" ], "x-tracker-project-version": ["728" ], "etag": ["W/\"fc0ba785ea8bde512fd0417626fc0bf9\"" ], "x-tracker-client-pinger-interval": ["20" ]}, "body": {"encoding": "UTF-8", "string": "{\"kind\":\"label\",\"id\":7849080,\"project_id\":1027488,\"name\":\"admin\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}" } }, "recorded_at": "Mon, 19 Aug 2024 18:31:45 GMT" } ], "recorded_with": "VCR 6.3.0" }