{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.pivotaltracker.com/services/v5/my/notifications",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-TrackerToken": ["d55c3bc1f74346b843ca84ba340b29bf"]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "Content-Type": ["application/json; charset=utf-8"],
          "Status": ["200 OK"],
          "X-Tracker-Last-Notification-Timestamp": ["1422318958000"],
          "ETag": ["\"8b9fdbed1595a4d0dd400be2e7d9fed9\""],
          "X-Tracker-Client-Pinger-Interval": ["8"]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\":\"notification\",\"id\":110356882,\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performer\":{\"kind\":\"person\",\"id\":1266316,\"name\":\"Tracker API User2\"},\"message\":\"Tracker API User2 has made you an owner of this story\",\"notification_type\":\"story\",\"action\":\"ownership\",\"story\":{\"kind\":\"story\",\"id\":82330712,\"name\":\"Test story\"},\"created_at\":\"2015-01-27T00:35:58Z\",\"updated_at\":\"2015-01-27T00:35:58Z\"}]"
        },
      },
      "recorded_at": "Tue, 27 Jan 2015 00:36:39 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}