{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/my/activity?fields=%3Adefault","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"306ed1cddc06c4ccbe5504f5bf96ef71\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["90"], "X-Tracker-Pagination-Total":["90"], "X-Vcap-Request-Id":["d3b96524-1f47-4e95-7aab-d5b430ac5c09"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"task_create_activity\",\"guid\":\"1027488_242\",\"project_version\":242,\"message\":\"Tracker API User1 added task: \\\"Test task\\\"\",\"highlight\":\"added task:\",\"changes\":[{\"kind\":\"task\",\"change_type\":\"create\",\"id\":55048373,\"new_values\":{\"id\":55048373,\"story_id\":66728004,\"description\":\"Test task\",\"complete\":false,\"position\":9,\"created_at\":\"2017-05-03T23:30:01Z\",\"updated_at\":\"2017-05-03T23:30:01Z\"}},{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"updated_at\":\"2017-05-03T23:29:47Z\"},\"new_values\":{\"updated_at\":\"2017-05-03T23:30:01Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"secondary_resources\":[],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2017-05-03T23:30:01Z\"},{\"kind\":\"story_update_activity\",\"guid\":\"1027488_241\",\"project_version\":241,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"owner_ids\":[1266314]},\"new_values\":{\"owner_ids\":[1266314,1266316]},\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"secondary_resources\":[],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample P[...]
