{"http_interactions":[{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/comments/120836920","body":{"encoding":"UTF-8","string":"{\"text\":\"This is a comment.+\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d4458c709c842d1e8544e2b3397418f9\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["156"], "X-Vcap-Request-Id":["3ba8192f-073e-44f9-50b2-74fca707f240"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"comment\",\"id\":120836920,\"story_id\":66728004,\"text\":\"This is a comment.+\",\"person_id\":1266314,\"created_at\":\"2015-12-17T22:13:55Z\",\"updated_at\":\"2016-11-16T14:20:30Z\"}"},"http_version":null},"recorded_at":"Wed, 16 Nov 2016 14:20:30 GMT"}],"recorded_with":"VCR 3.0.3"}