{"http_interactions":[{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728084?name=Product+browsing+pagination+not+working+in+IE6%2B","body":{"encoding":"UTF-8","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["31"], "ETag":["\"3fbdf659306d50457abce84b7ed83a12\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"{\"kind\":\"story\",\"id\":66728084,\"project_id\":1027488,\"name\":\"Product browsing pagination not working in IE6+\",\"story_type\":\"bug\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":7849110,\"project_id\":1027488,\"name\":\"ie6\",\"created_at\":\"2014-03-02T07:11:07Z\",\"updated_at\":\"2014-03-02T07:11:07Z\"}],\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2015-01-14T23:18:12Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66728084\"}"},"http_version":null},"recorded_at":"Wed, 14 Jan 2015 23:18:12 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004?name=Some+product+photos+not+scaled+properly+when+browsing+products%2B","body":{"encoding":"UTF-8","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["33"], "ETag":["\"aa8a5da4b0f5fd5981aaf53fa87299ce\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"{\"kind\":\"story\",\"id\":66728004,\"project_id\":1027488,\"name\":\"Some product photos not scaled properly when browsing products+\",\"description\":\"+\",\"story_type\":\"bug\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":7849082,\"project_id\":1027488,\"name\":\"shopping\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}],\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2015-01-20T06:24:29Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}"},"http_version":null},"recorded_at":"Tue, 20 Jan 2015 06:34:02 GMT"}],"recorded_with":"VCR 2.9.3"}