{"http_interactions":[{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728030","body":{"encoding":"UTF-8","string":"{\"current_state\":\"started\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"b7f8c2d73bde6919afa35553624afa7b\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["173"], "X-Vcap-Request-Id":["13f91bf1-59c1-487f-5dfb-fbbe42a08ead"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":66728030,\"project_id\":1027488,\"name\":\"Admin can review all order questions and send responses to shoppers\",\"story_type\":\"feature\",\"current_state\":\"started\",\"estimate\":1,\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":7849080,\"project_id\":1027488,\"name\":\"admin\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"},{\"kind\":\"label\",\"id\":7849094,\"project_id\":1027488,\"name\":\"orders\",\"created_at\":\"2014-03-02T07:11:05Z\",\"updated_at\":\"2014-03-02T07:11:05Z\"}],\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2017-05-03T21:07:06Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66728030\"}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 21:07:06 GMT"}],"recorded_with":"VCR 2.9.3"}