{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1991595","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["b764325e019df5c28896d1aa2fe27225"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"b17710ab7f9f535c9cf7e55939619414\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["33"], "X-Vcap-Request-Id":["0a959e40-1fa6-468d-4317-0e50069e71e9"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1991595,\"kind\":\"project\",\"name\":\"ProductPlanTesting\",\"version\":33,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-07:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":false,\"atom_enabled\":false,\"project_type\":\"private\",\"start_time\":\"2017-04-03T07:00:00Z\",\"created_at\":\"2017-03-17T02:23:31Z\",\"updated_at\":\"2017-03-17T03:01:16Z\",\"account_id\":977617,\"current_iteration_number\":1,\"enable_following\":true}"},"http_version":null},"recorded_at":"Thu, 06 Apr 2017 17:25:57 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1991595/search","body":{"encoding":"UTF-8","string":"{\"query\":\"label:\\\"epic not completed\\\"\"}"},"headers":{"X-TrackerToken":["b764325e019df5c28896d1aa2fe27225"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"3050996ff13897c13df8ab6085383c85\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["33"], "X-Vcap-Request-Id":["4f8d8d86-90b1-4a26-6007-3c8ea4394e4b"]},"body":{"encoding":"ASCII-8BIT","string":"{\"stories\":{\"stories\":[{\"kind\":\"story\",\"id\":142214623,\"created_at\":\"2017-03-22T09:36:41Z\",\"updated_at\":\"2017-03-22T09:36:41Z\",\"story_type\":\"feature\",\"name\":\"Issue B NC\",\"current_state\":\"unscheduled\",\"requested_by_id\":2864063,\"url\":\"https://www.pivotaltracker.com/story/show/142214623\",\"project_id\":1991595,\"owner_ids\":[],\"labels\":[{\"id\":18005019,\"project_id\":1991595,\"kind\":\"label\",\"name\":\"epic not completed\",\"created_at\":\"2017-03-22T09:32:09Z\",\"updated_at\":\"2017-03-22T09:32:09Z\"}]},{\"kind\":\"story\",\"id\":142214621,\"created_at\":\"2017-03-22T09:36:30Z\",\"updated_at\":\"2017-03-22T09:36:47Z\",\"estimate\":2,\"story_type\":\"feature\",\"name\":\"Issue A NC\",\"current_state\":\"unscheduled\",\"requested_by_id\":2864063,\"url\":\"https://www.pivotaltracker.com/story/show/142214621\",\"project_id\":1991595,\"owner_ids\":[],\"labels\":[{\"id\":18005019,\"project_id\":1991595,\"kind\":\"label\",\"name\":\"epic not completed\",\"created_at\":\"2017-03-22T09:32:09Z\",\"updated_at\":\"2017-03-22T09:32:09Z\"}]}],\"total_points\":2,\"total_points_completed\":0,\"total_hits\":2,\"total_hits_with_done\":2},\"epics\":{\"epics\":[{\"id\":3437089,\"kind\":\"epic\",\"created_at\":\"2017-03-22T09:32:10Z\",\"updated_at\":\"2017-03-22T09:32:10Z\",\"project_id\":1991595,\"name\":\"Epic Not Completed\",\"url\":\"https://www.pivotaltracker.com/epic/show/3437089\",\"label\":{\"id\":18005019,\"project_id\":1991595,\"kind\":\"label\",\"name\":\"epic not completed\",\"created_at\":\"2017-03-22T09:32:09Z\",\"updated_at\":\"2017-03-22T09:32:09Z\"}}],\"total_hits\":1,\"total_hits_with_done\":0},\"query\":\"label:\\\"epic not completed\\\"\"}"},"http_version":null},"recorded_at":"Thu, 06 Apr 2017 17:25:57 GMT"}],"recorded_with":"VCR 3.0.3"}