{"http_interactions":[{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/97751110","body":{"encoding":"UTF-8","string":"{\"follower_ids\":[],\"name\":\"Test story+\",\"description\":\"Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test [...]
{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004","body":{"encoding":"UTF-8","string":"{\"follower_ids\":[],\"name\":\"Some product photos not scaled properly when browsing products+++\",\"description\":\"+\",\"story_type\":\"bug\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"id\":11049868,\"name\":\"label1\"},{\"id\":11049870,\"name\":\"label2\"}]}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["65"], "ETag":["\"85c40615f429a9f17b9506d7935bed07\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"{\"kind\":\"story\",\"id\":66728004,\"project_id\":1027488,\"name\":\"Some product photos not scaled properly when browsing products+++\",\"description\":\"+\",\"story_type\":\"bug\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"owner_ids\":[],\"labels\":[{\"kind\":\"label\",\"id\":11049868,\"project_id\":1027488,\"name\":\"label1\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"},{\"kind\":\"label\",\"id\":11049870,\"project_id\":1027488,\"name\":\"label2\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"}],\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2015-06-24T21:05:38Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}"},"http_version":null},"recorded_at":"Wed, 24 Jun 2015 21:05:48 GMT"}],"recorded_with":"VCR 2.9.3"}