{"http_interactions":[{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/144829697","body":{"encoding":"UTF-8","string":"{\"name\":\"Test story++\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"47598b594e931a38dd8f33dde449459f\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["233"], "X-Vcap-Request-Id":["05c1a12b-68eb-4890-50fd-1e8287ef806c"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":144829697,\"project_id\":1027488,\"name\":\"Test story++\",\"description\":\"Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test [...]
{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004","body":{"encoding":"UTF-8","string":"{\"name\":\"Some product photos not scaled properly when browsing products+++++++++\"}"},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"8fedae9c6a22d36cd8eb9468a0a31524\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["241"], "X-Vcap-Request-Id":["154f9b62-6327-4b99-6d7c-f9e92e5383c3"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":66728004,\"project_id\":1027488,\"name\":\"Some product photos not scaled properly when browsing products+++++++++\",\"description\":\"++++++++++\",\"story_type\":\"bug\",\"current_state\":\"started\",\"requested_by_id\":1266314,\"owned_by_id\":1266314,\"owner_ids\":[1266314,1266316],\"labels\":[{\"kind\":\"label\",\"id\":11049868,\"project_id\":1027488,\"name\":\"label1\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"},{\"kind\":\"label\",\"id\":11049870,\"project_id\":1027488,\"name\":\"label2\",\"created_at\":\"2015-03-07T12:51:39Z\",\"updated_at\":\"2015-03-07T12:51:39Z\"},{\"kind\":\"label\",\"id\":14060665,\"project_id\":1027488,\"name\":\"super-special-label\",\"created_at\":\"2016-02-12T23:45:13Z\",\"updated_at\":\"2016-02-12T23:45:13Z\"}],\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2017-05-03T23:29:47Z\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}"},"http_version":null},"recorded_at":"Wed, 03 May 2017 23:29:48 GMT"}],"recorded_with":"VCR 2.9.3"}