{"http_interactions":[{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?name=Test+story","body":{"encoding":"UTF-8","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["28"], "ETag":["\"0af20736c4d17830ba4d82ed274fb7a8\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"{\n  \"kind\": \"story\",\n  \"id\": 84269322,\n  \"project_id\": 1027488,\n  \"name\": \"Test story\",\n  \"story_type\": \"feature\",\n  \"current_state\": \"unscheduled\",\n  \"requested_by_id\": 1266314,\n  \"owner_ids\": [\n\n  ],\n  \"labels\": [\n\n  ],\n  \"created_at\": \"2014-12-10T05:20:17Z\",\n  \"updated_at\": \"2014-12-10T05:20:17Z\",\n  \"url\": \"https://www.pivotaltracker.com/story/show/84269322\"\n}"},"http_version":null},"recorded_at":"Wed, 10 Dec 2014 05:20:17 GMT"},{"request":{"method":"put","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/84269322?name=Changed+name","body":{"encoding":"UTF-8","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["29"], "ETag":["\"dc6c6116d5985962aac5b28c5e7ababe\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"{\n  \"kind\": \"story\",\n  \"id\": 84269322,\n  \"project_id\": 1027488,\n  \"name\": \"Changed name\",\n  \"story_type\": \"feature\",\n  \"current_state\": \"unscheduled\",\n  \"requested_by_id\": 1266314,\n  \"owner_ids\": [\n\n  ],\n  \"labels\": [\n\n  ],\n  \"created_at\": \"2014-12-10T05:20:17Z\",\n  \"updated_at\": \"2014-12-10T05:20:18Z\",\n  \"url\": \"https://www.pivotaltracker.com/story/show/84269322\"\n}"},"http_version":null},"recorded_at":"Wed, 10 Dec 2014 05:20:18 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/84269322","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["29"], "ETag":["\"dc6c6116d5985962aac5b28c5e7ababe\""], "X-Tracker-Client-Pinger-Interval":["8"]},"body":{"encoding":"UTF-8","string":"{\n  \"kind\": \"story\",\n  \"id\": 84269322,\n  \"project_id\": 1027488,\n  \"name\": \"Changed name\",\n  \"story_type\": \"feature\",\n  \"current_state\": \"unscheduled\",\n  \"requested_by_id\": 1266314,\n  \"owner_ids\": [\n\n  ],\n  \"labels\": [\n\n  ],\n  \"created_at\": \"2014-12-10T05:20:17Z\",\n  \"updated_at\": \"2014-12-10T05:20:18Z\",\n  \"url\": \"https://www.pivotaltracker.com/story/show/84269322\"\n}"},"http_version":null},"recorded_at":"Wed, 10 Dec 2014 05:20:18 GMT"}],"recorded_with":"VCR 2.9.3"}