{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["107"], "ETag":["\"48798becb80bd2dfcb98ea8d4be99b08\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"{\"id\":1027488,\"kind\":\"project\",\"name\":\"My Sample Project\",\"version\":107,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"profile_content\":\"This is a demo project, created by Tracker, with example stories for a simple shopping web site.\",\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":false,\"atom_enabled\":false,\"project_type\":\"demo\",\"start_time\":\"2014-02-10T08:00:00Z\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"account_id\":621384,\"current_iteration_number\":105,\"enable_following\":true}"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:34 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=5&offset=-12&scope=done","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["104"], "X-Tracker-Project-Version":["107"], "X-Tracker-Pagination-Limit":["5"], "X-Tracker-Pagination-Offset":["-12"], "ETag":["\"9a67657d08e0e97c469718bd1f076941\""], "X-Tracker-Pagination-Returned":["5"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"number\":93,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-11-16T08:00:00Z\",\"finish\":\"2015-11-23T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":94,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-11-23T08:00:00Z\",\"finish\":\"2015-11-30T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":95,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-11-30T08:00:00Z\",\"finish\":\"2015-12-07T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":96,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-12-07T08:00:00Z\",\"finish\":\"2015-12-14T08:00:00Z\",\"kind\":\"iteration\"},{\"number\":97,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[],\"start\":\"2015-12-14T08:00:00Z\",\"finish\":\"2015-12-21T08:00:00Z\",\"kind\":\"iteration\"}]"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:34 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects//epics","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"code\":\"unfound_resource\",\"kind\":\"error\",\"error\":\"The object you tried to access could not be found.  It may have been removed by another user, you may be using the ID of another object type, or you may be trying to access a sub-resource at the wrong point in a tree.\"}"},"http_version":null},"recorded_at":"Mon, 15 Feb 2016 19:50:23 GMT"}],"recorded_with":"VCR 2.9.3"}