{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/tasks","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Project-Version":["108"], "ETag":["\"4d3b48a5065fd5e9c4fa8f4086595ed9\""], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"task\",\"id\":22778038,\"story_id\":66728004,\"description\":\"Check unscaled\",\"complete\":false,\"position\":1,\"created_at\":\"2014-06-02T12:44:52Z\",\"updated_at\":\"2014-06-02T12:44:52Z\"},{\"kind\":\"task\",\"id\":32873326,\"story_id\":66728004,\"description\":\"Test task\",\"complete\":false,\"position\":2,\"created_at\":\"2015-06-09T21:24:28Z\",\"updated_at\":\"2015-06-09T21:24:28Z\"},{\"kind\":\"task\",\"id\":33341356,\"story_id\":66728004,\"description\":\"Test task\",\"complete\":false,\"position\":3,\"created_at\":\"2015-06-24T18:04:04Z\",\"updated_at\":\"2015-06-24T18:04:04Z\"},{\"kind\":\"task\",\"id\":33348986,\"story_id\":66728004,\"description\":\"Test task\",\"complete\":false,\"position\":4,\"created_at\":\"2015-06-24T21:05:50Z\",\"updated_at\":\"2015-06-24T21:05:50Z\"},{\"kind\":\"task\",\"id\":40109803,\"story_id\":66728004,\"description\":\"Test task\",\"complete\":false,\"position\":5,\"created_at\":\"2016-02-13T23:35:36Z\",\"updated_at\":\"2016-02-13T23:35:36Z\"}]"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:37 GMT"}],"recorded_with":"VCR 2.9.3"}