{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories/66728004/activity","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["28"], "X-Tracker-Project-Version":["112"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "ETag":["\"70410815d5e318cccb3670f6c8b129bb\""], "X-Tracker-Pagination-Returned":["23"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story_update_activity\",\"guid\":\"1027488_109\",\"project_version\":109,\"message\":\"Tracker API User1 edited this bug\",\"highlight\":\"edited\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"name\":\"Some product photos not scaled properly when browsing products++++\",\"description\":\"+++++\",\"updated_at\":\"2016-02-13T23:35:36Z\"},\"new_values\":{\"name\":\"Some product photos not scaled properly when browsing products+++++\",\"description\":\"++++++\",\"updated_at\":\"2016-02-13T23:35:49Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++\",\"story_type\":\"bug\",\"url\":\"https://www.pivotaltracker.com/story/show/66728004\"}],\"project\":{\"kind\":\"project\",\"id\":1027488,\"name\":\"My Sample Project\"},\"performed_by\":{\"kind\":\"person\",\"id\":1266314,\"name\":\"Tracker API User1\",\"initials\":\"TU1\"},\"occurred_at\":\"2016-02-13T23:35:49Z\"},{\"kind\":\"task_create_activity\",\"guid\":\"1027488_108\",\"project_version\":108,\"message\":\"Tracker API User1 added task: \\\"Test task\\\"\",\"highlight\":\"added task:\",\"changes\":[{\"kind\":\"task\",\"change_type\":\"create\",\"id\":40109803,\"new_values\":{\"id\":40109803,\"story_id\":66728004,\"description\":\"Test task\",\"complete\":false,\"position\":5,\"created_at\":\"2016-02-13T23:35:36Z\",\"updated_at\":\"2016-02-13T23:35:36Z\"}},{\"kind\":\"story\",\"change_type\":\"update\",\"id\":66728004,\"original_values\":{\"updated_at\":\"2016-02-12T23:45:31Z\"},\"new_values\":{\"updated_at\":\"2016-02-13T23:35:36Z\"},\"name\":\"Some product photos not scaled properly when browsing products+++++\",\"story_type\":\"bug\"}],\"primary_resources\":[{\"kind\":\"story\",\"id\":66728004,\"name\":\"Some product photos not scaled properly when browsing products+++++\",\"sto[...]
