{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1&offset=1","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["108"], "X-Tracker-Project-Version":["107"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Offset":["1"], "ETag":["\"d3c19bba433bc61b1422ff55ec3e9fe0\""], "X-Tracker-Pagination-Returned":["1"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"number\":2,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66727984,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"accepted_at\":\"2014-02-18T00:00:00Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"Admin should be able to upload multiple product photos and mark one as the primary\",\"current_state\":\"accepted\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66727984\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849080,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"admin\",\"created_at\":\"2014-03-02T07:11:04Z\",\"updated_at\":\"2014-03-02T07:11:04Z\"}]},{\"kind\":\"story\",\"id\":66727986,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"accepted_at\":\"2014-02-18T00:00:00Z\",\"estimate\":2,\"story_type\":\"feature\",\"name\":\"Shopper should see list of products, with primary photo as thumbnail\",\"current_state\":\"accepted\",\"requested_by_id\":1266314[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["108"], "X-Tracker-Project-Version":["107"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Offset":["0"], "ETag":["\"5ba18f0d952a3afaec26d25199b07764\""], "X-Tracker-Pagination-Returned":["1"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"number\":1,\"project_id\":1027488,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":66727974,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"accepted_at\":\"2014-02-11T00:00:00Z\",\"story_type\":\"chore\",\"name\":\"Setup development environment\",\"description\":\"We need 2 machines set up\",\"current_state\":\"accepted\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66727974\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[]},{\"kind\":\"story\",\"id\":66727976,\"created_at\":\"2014-02-10T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:04Z\",\"accepted_at\":\"2014-02-11T00:00:00Z\",\"story_type\":\"chore\",\"name\":\"Setup demo server\",\"description\":\"Should be accessible from outside the network, with basic auth[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/iterations?limit=1&offset=9999","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["108"], "X-Tracker-Project-Version":["107"], "X-Tracker-Pagination-Limit":["1"], "X-Tracker-Pagination-Offset":["9999"], "ETag":["\"d751713988987e9331980363e24189ce\""], "X-Tracker-Pagination-Returned":["0"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:29 GMT"}],"recorded_with":"VCR 2.9.3"}