{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1027488/stories?with_state=unscheduled","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["4"], "X-Tracker-Project-Version":["109"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "ETag":["\"333e6960333825c8e6f8d516be7cd5d9\""], "X-Tracker-Pagination-Returned":["4"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story\",\"id\":66728084,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2015-01-14T23:18:12Z\",\"story_type\":\"bug\",\"name\":\"Product browsing pagination not working in IE6+\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728084\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849110,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"ie6\",\"created_at\":\"2014-03-02T07:11:07Z\",\"updated_at\":\"2014-03-02T07:11:07Z\"}]},{\"kind\":\"story\",\"id\":66728086,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:07Z\",\"story_type\":\"feature\",\"name\":\"Integrate with automated order fullfillment system\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728086\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[]},{\"kind\":\"story\",\"id\":66728088,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:07Z\",\"story_type\":\"feature\",\"name\":\"native iPhone app to allow product browsing and checkout\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728088\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[{\"id\":7849112,\"project_id\":1027488,\"kind\":\"label\",\"name\":\"epic\",\"created_at\":\"2014-03-02T07:11:07Z\",\"updated_at\":\"2014-03-02T07:11:07Z\"}]},{\"kind\":\"story\",\"id\":66728090,\"created_at\":\"2014-02-17T00:00:00Z\",\"updated_at\":\"2014-03-02T07:11:07Z\",\"story_type\":\"feature\",\"name\":\"Facebook app, allowing users to share favorite products\",\"current_state\":\"unscheduled\",\"requested_by_id\":1266314,\"url\":\"https://www.pivotaltracker.com/story/show/66728090\",\"project_id\":1027488,\"owner_ids\":[],\"labels\":[]}]"},"http_version":null},"recorded_at":"Sat, 13 Feb 2016 23:35:50 GMT"}],"recorded_with":"VCR 2.9.3"}