{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/my/activity?fields=%3Adefault","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["d55c3bc1f74346b843ca84ba340b29bf"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Tracker-Pagination-Total":["34"], "X-Tracker-Pagination-Limit":["100"], "X-Tracker-Pagination-Offset":["0"], "ETag":["\"902122e5358b44eae430257a00a57b84\""], "X-Tracker-Pagination-Returned":["34"], "X-Tracker-Client-Pinger-Interval":["12"]},"body":{"encoding":"UTF-8","string":"[{\"kind\":\"story_create_activity\",\"guid\":\"1027488_112\",\"project_version\":112,\"message\":\"Tracker API User1 added this feature\",\"highlight\":\"added\",\"changes\":[{\"kind\":\"story\",\"change_type\":\"create\",\"id\":113692663,\"new_values\":{\"id\":113692663,\"project_id\":1027488,\"name\":\"Test story\",\"description\":\"Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test description Test [...]
