name: Ruby Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    name: Specs - Ruby ${{ matrix.ruby-version }} ${{matrix.gemfile}}
    runs-on: ubuntu-latest
    env:
      CC_TEST_REPORTER_ID: 8d1cf5f9b65f4b22efbdbb85b82f31ecdf132ea9e7f6728cd288fb05e9fa549a
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile

    strategy:
      matrix:
        gemfile:
          - faraday-1
          - faraday-2
        ruby-version:
          - "3.2"
          - "3.1"
          - "3.0"
          - "2.7"
          - jruby
          - truffleruby

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - name: Set environment
      run: echo "COVERAGE=true" >> "$GITHUB_ENV"
      if: matrix.ruby-version == '3.2' && matrix.gemfile == 'faraday-2'
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rake test
    - name: Upload Coverage
      uses: paambaati/codeclimate-action@v3.2.0
      if: matrix.ruby-version == '3.2' && matrix.gemfile == 'faraday-2'
